<template>
  <div class="analog">
    <div class="card mt-4">
      <div class="card-header">
        Voltage Reference
        <a
          v-bind:href="
            'https://lpgbt.web.cern.ch/lpgbt/v' +
            chip_version +
            '/analog.html#reference-voltage'
          "
          target="_blank"
          ><icon name="question-circle" class="text-secondary"
        /></a>
      </div>
      <div class="card-body">
        <div class="p-1">
          <b-input-group prepend="Generator">
            <b-form-radio-group
              id="btn_pull"
              buttons
              v-model="vref_enable"
              @change="onPutVref(0, $event)"
              name="pullbtns"
              button-variant="outline-primary"
            >
              <b-form-radio
                v-for="opt in onoff_options"
                :key="opt.value"
                :value="opt.value"
              >
                <icon :name="opt.icon" />
                {{ opt.text }}
              </b-form-radio>
            </b-form-radio-group>
          </b-input-group>
        </div>
        <div class="p-1">
          <b-input-group prepend="Tune">
            <b-form-input
              id="range"
              v-model="vref_tune"
              @change="onPutVref(1, $event)"
              type="range"
              :min="0"
              :max="vref_tune_max"
              trigger-change-event
              :disabled="!vref_enable"
            ></b-form-input>
          </b-input-group>
        </div>
        <div v-if="vref_enable == true" class="p-1">
          <b-input-group prepend="Byte value">
            <b-form-input v-model="vref_tune"></b-form-input>
          </b-input-group>
        </div>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-header">
        Voltage DAC
        <a
          v-bind:href="
            'https://lpgbt.web.cern.ch/lpgbt/v' +
            chip_version +
            '/analog.html#voltage-digital-to-analog-converter'
          "
          target="_blank"
          ><icon name="question-circle" class="text-secondary"
        /></a>
      </div>
      <div class="card-body">
        <div class="container">
          <div class="p-1">
            <b-input-group prepend="VDAC">
              <b-form-radio-group
                id="btn_pull"
                buttons
                v-model="vdac_enable"
                @change="onPutVdac(0, $event)"
                name="pullbtns"
                button-variant="outline-primary"
              >
                <b-form-radio
                  v-for="opt in onoff_options"
                  :key="opt.value"
                  :value="opt.value"
                >
                  <icon :name="opt.icon" />
                  {{ opt.text }}
                </b-form-radio>
              </b-form-radio-group>
            </b-input-group>
          </div>
          <div class="p-1">
            <b-input-group prepend=" Tune" append="MSB">
              <b-form-input
                id="range"
                v-model="vdac_value"
                @change="onPutVdac(1, $event)"
                type="range"
                :min="0"
                :max="4095"
                trigger-change-event
                :disabled="!vdac_enable"
              ></b-form-input>
            </b-input-group>
          </div>
          <div v-if="vdac_enable == true" class="p-1">
            <b-input-group prepend="Byte value">
              <b-form-input v-model="vdac_value"></b-form-input>
            </b-input-group>
          </div>
        </div>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-header">
        Current DAC
        <a
          v-bind:href="
            'https://lpgbt.web.cern.ch/lpgbt/v' +
            chip_version +
            '/analog.html#current-sources'
          "
          target="_blank"
          ><icon name="question-circle" class="text-secondary"
        /></a>
      </div>
      <div class="card-body">
        <div class="container">
          <div class="p-1">
            <b-input-group prepend="CDAC">
              <b-form-radio-group
                id="btn_pull"
                buttons
                v-model="cdac_enable"
                @change="onPutCdac(0, $event)"
                name="pullbtns"
                button-variant="outline-primary"
              >
                <b-form-radio
                  v-for="opt in onoff_options"
                  :key="opt.value"
                  :value="opt.value"
                >
                  <icon :name="opt.icon" />
                  {{ opt.text }}
                </b-form-radio>
              </b-form-radio-group>
            </b-input-group>
          </div>

          <div class="p-1">
            <b-input-group prepend="Tune" append="MSB">
              <b-form-input
                id="range"
                v-model="cdac_value"
                @change="onPutCdac(1, $event)"
                type="range"
                :min="0"
                :max="255"
                trigger-change-event
                :disabled="!cdac_enable"
              ></b-form-input>
            </b-input-group>
          </div>
          <div v-if="cdac_enable == true" class="p-1">
            <b-input-group prepend="Byte value">
              <b-form-input v-model="cdac_value"></b-form-input>
            </b-input-group>
          </div>
          <div class="p-1">
            <b-input-group prepend="Channels">
              <b-form-checkbox-group
                id="btnradios_txmode"
                buttons
                v-model="cdac_channels"
                @change="onPutCdac(2, $event)"
                button-variant="outline-primary"
                :options="cdac_channels_options"
                name="radiosBtnDefault"
                :disabled="!cdac_enable"
              />
            </b-input-group>
          </div>
        </div>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-header">
        ADC
        <a
          v-bind:href="
            'https://lpgbt.web.cern.ch/lpgbt/v' +
            chip_version +
            '/analog.html#analog-to-digital-converter'
          "
          target="_blank"
          ><icon name="question-circle" class="text-secondary"
        /></a>
      </div>
      <div class="p-1">
        <b-card no-body class="mb-1">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-button block href="#" v-b-toggle.accordion-1 variant="primary"
              >Converter</b-button
            >
          </b-card-header>
          <b-collapse
            id="accordion-1"
            visible
            accordion="my-accordion"
            role="tabpanel"
          >
            <b-card-body>
              <div class="p-1">
                <b-input-group>
                  <b-input-group-prepend is-text>
                    ADC Positive Input
                  </b-input-group-prepend>
                  <b-form-select
                    v-model="adc_inp"
                    @change="onPutVadc(0, $event)"
                    :options="adc_in_options"
                    button-variant="outline-secondary"
                  />
                </b-input-group>
              </div>
              <div class="p-1">
                <b-input-group>
                  <b-input-group-prepend is-text>
                    ADC Negative Input
                  </b-input-group-prepend>
                  <b-form-select
                    v-model="adc_inn"
                    @change="onPutVadc(1, $event)"
                    :options="adc_in_options"
                    button-variant="outline-secondary"
                  />
                </b-input-group>
              </div>
              <div class="p-1">
                <b-form-group>
                  <b-form-radio-group
                    id="adc_gain"
                    buttons
                    @change="onPutVadc(2, $event)"
                    v-model="adc_gain"
                    :options="adc_gain_options"
                    button-variant="outline-primary"
                    name="radiosBtnDefault"
                  />
                </b-form-group>
              </div>
              <div class="p-1">
                <b-input-group>
                  <b-input-group-prepend>
                    <button
                      class="btn btn-primary btn-block"
                      type="button"
                      @click="getAdc"
                    >
                      Start conversion
                    </button>
                  </b-input-group-prepend>
                  <b-form-input v-model="adc_conv"></b-form-input>
                </b-input-group>
              </div>
            </b-card-body>
          </b-collapse>
        </b-card>
      </div>
      <div class="p-1">
        <b-card no-body class="mb-1">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-button block href="#" v-b-toggle.accordion-2 variant="primary"
              >Temperature Sensor</b-button
            >
          </b-card-header>
          <b-collapse id="accordion-2" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <div class="p-1">
                <b-input-group append="°C">
                  <b-input-group-prepend>
                    <button
                      class="btn btn-primary btn-block"
                      type="button"
                      @click="getTempSensor"
                    >
                      Measure Temperature
                    </button>
                  </b-input-group-prepend>
                  <b-form-input v-model="sensor_temp"></b-form-input>
                </b-input-group>
              </div>
            </b-card-body>
          </b-collapse>
        </b-card>
      </div>
      <div class="p-1">
        <b-card no-body class="mb-1">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-button block href="#" v-b-toggle.accordion-3 variant="primary"
              >VDD Monitoring</b-button
            >
          </b-card-header>
          <b-collapse id="accordion-3" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <div class="p-1">
                <b-input-group>
                  <b-input-group-prepend is-text
                    >ADC Input</b-input-group-prepend
                  >
                  <b-form-select
                    v-model="vdd_mon"
                    @change="onPutVdd(0, $event)"
                    :options="vdd_mon_options"
                    button-variant="outline-secondary"
                  />
                </b-input-group>
              </div>
              <div class="p-1">
                <b-input-group>
                  <b-input-group-prepend>
                    <button
                      class="btn btn-primary btn-block"
                      @click="getAdc"
                      type="button"
                    >
                      Start conversion
                    </button>
                  </b-input-group-prepend>
                  <b-form-input v-model="vdd_mon_conv"></b-form-input>
                </b-input-group>
              </div>
            </b-card-body>
          </b-collapse>
        </b-card>
      </div>
    </div>

    <b-modal
      ref="axios-error-modal"
      hide-footer
      hide-header-close
      title="Request error"
    >
      <div class="card-body mt-4" variant="warning">
        {{ errorMessage }}
      </div>
    </b-modal>
  </div>
</template>

<script>
const API_URL = "/api";
import axios from "axios";

export default {
  data: function () {
    return {
      errorMessage: "",
      onoff_options: [
        { text: "disabled", value: false, icon: "toggle-off" },
        { text: "enabled", value: true, icon: "toggle-on" },
      ],

      vref_tune: 58,
      vref_tune_max: 127,
      vref_enable: false,

      vdac_value: 2048,
      vdac_enable: false,

      cdac_value: 128,
      cdac_enable: false,

      cdac_channels: [],
      cdac_channels_options: [
        { text: "0", value: 0 },
        { text: "1", value: 1 },
        { text: "2", value: 2 },
        { text: "3", value: 3 },
        { text: "4", value: 4 },
        { text: "5", value: 5 },
        { text: "6", value: 6 },
        { text: "7", value: 7 },
      ],

      adc_inp: "",
      adc_inn: "",
      adc_in_options: [
        { value: 0, text: "ADC0 (external pin)" },
        { value: 1, text: "ADC1 (external pin)" },
        { value: 2, text: "ADC2 (external pin)" },
        { value: 3, text: "ADC3 (external pin)" },
        { value: 4, text: "ADC4 (external pin)" },
        { value: 5, text: "ADC5 (external pin)" },
        { value: 6, text: "ADC6 (external pin)" },
        { value: 7, text: "ADC7 (external pin)" },
        { value: 8, text: "EOM DAC (external pin)" },
        { value: 9, text: "VDDIO (internal pin)" },
        { value: 10, text: "VDDTX (internal pin)" },
        { value: 11, text: "VDDRX (internal pin)" },
        { value: 12, text: "VDD (internal pin)" },
        { value: 13, text: "VDDA (internal pin)" },
        { value: 14, text: "Temperature sensor (internal pin)" },
        { value: 15, text: "VREF/2 (internal pin)" },
      ],

      adc_gain: "",
      adc_gain_options: [
        { text: "gain x2", value: 0 },
        { text: "gain x8", value: 1 },
        { text: "gain x16", value: 2 },
        { text: "gain x32", value: 3 },
      ],
      adc_conv: "",

      sensor_temp: 0,

      vdd_mon_conv: "",
      vdd_mon: "",
      vdd_mon_options: [
        { text: "VDDIO", value: 9 },
        { text: "VDDTX", value: 10 },
        { text: "VDDRX", value: 11 },
        { text: "VDD", value: 12 },
        { text: "VDDA", value: 13 },
      ],
      chip_version: "",
    };
  },

  created() {
    // fetch the data when the view is created and the data is
    // already being observed
    this.getChipVersion();
    this.getVref();
    this.getVdac();
    this.getCdac();
    this.getAdc();
  },

  methods: {
    // get methods
    getVref() {
      axios
        .get(`${API_URL}/vref`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.vref_tune = response.data.result.vref_tune;
            this.vref_tune_max = response.data.result.vref_tune_max;
            this.vref_enable = response.data.result.vref_enable;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },

    getVdac() {
      axios
        .get(`${API_URL}/vdac`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.vdac_value = response.data.result.vdac_value;
            this.vdac_enable = response.data.result.vdac_enable;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    getCdac() {
      axios
        .get(`${API_URL}/cdac`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.cdac_value = response.data.result.cdac_value;
            this.cdac_enable = response.data.result.cdac_enable;
            this.cdac_channels = response.data.result.cdac_channels;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    getAdc() {
      axios
        .get(`${API_URL}/adc`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.adc_inn = response.data.result.adc_inn;
            this.adc_inp = response.data.result.adc_inp;
            this.adc_gain = response.data.result.adc_gain;
            this.adc_conv = response.data.result.adc_conv;
            this.vdd_mon = response.data.result.adc_inp;
            this.vdd_mon_conv = response.data.result.adc_conv;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    getTempSensor() {
      axios
        .get(`${API_URL}/internalSensorTemp`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.sensor_temp = response.data.result.sensor_temp;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    // put methods
    onPutVref(field, value) {
      if (field == 0) {
        var enable = value;
        var tune = this.vref_tune;
      }
      if (field == 1) {
        var enable = this.vref_enable;
        var tune = value;
      }
      axios
        .put(`${API_URL}/vref`, {
          vref_tune: tune,
          vref_enable: enable,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    onPutVdac(field, value) {
      if (field == 0) {
        var enable = value;
        var tune = this.vdac_value;
      }
      if (field == 1) {
        var enable = this.vdac_enable;
        var tune = value;
      }
      axios
        .put(`${API_URL}/vdac`, {
          vdac_enable: enable,
          vdac_value: tune,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    onPutCdac(field, value) {
      if (field == 0) {
        var cdac_enable = value;
        var cdac_value = this.cdac_value;
        var cdac_channels = this.cdac_channels;
      }
      if (field == 1) {
        var cdac_enable = this.cdac_enable;
        var cdac_value = value;
        var cdac_channels = this.cdac_channels;
      }
      if (field == 2) {
        var cdac_enable = this.cdac_enable;
        var cdac_value = this.cdac_value;
        var cdac_channels = value;
      }
      axios
        .put(`${API_URL}/cdac`, {
          cdac_value: cdac_value,
          cdac_enable: cdac_enable,
          cdac_channels: cdac_channels,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    onPutVadc(field, value) {
      if (field == 0) {
        var inp = value;
        var inn = this.adc_inn;
        var gain = this.adc_gain;
      }
      if (field == 1) {
        var inp = this.adc_inp;
        var inn = value;
        var gain = this.adc_gain;
      }
      if (field == 2) {
        var inp = this.adc_inp;
        var inn = this.adc_inn;
        var gain = value;
      }
      axios
        .put(`${API_URL}/adc`, {
          adc_inp: inp,
          adc_inn: inn,
          adc_gain: gain,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    onPutVdd(field, value) {
      if (field == 0) {
        var vdd_mon = value;
      }
      axios
        .put(`${API_URL}/vddMonitoring`, {
          vdd_mon: vdd_mon,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getChipVersion() {
      axios
        .get(`${API_URL}/chip_version`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.chip_version = response.data.result.chip_version;
          }
        })
        .catch((error) => {
          console.error(error);
          id;
        });
    },
  },

  watch: {
    vref_enable(newValue) {
      if (newValue) {
        this.vrefBtnCaption = 'of<font-awesome-icon icon="toggle-on"/>';
        // updateVref();
      } else {
        this.vrefBtnCaption = 'on<font-awesome-icon icon="toggle-off"/>';
        // updateVref();
      }
    },
  },
};
</script>

<style lang="scss"></style>
