<template>
  <div class="connection">
    <div class="card mt-4">
      <div class="card-header">Connection</div>
      <div class="card-body">
        <div class="p-1">
          <b-input-group prepend="Select target">
            <b-form-radio-group
              id="btn_pull"
              buttons
              v-model="connection"
              @change="onPutConnection(0, $event)"
              name="pullbtns"
              button-variant="outline-primary"
            >
              <b-form-radio
                v-for="opt in connection_options"
                :key="opt.value"
                :value="opt.value"
              >
                {{ opt.text }}
              </b-form-radio>
            </b-form-radio-group>
          </b-input-group>
        </div>
      </div>
    </div>

    <div class="card mt-4" v-if="connection == 1">
      <div class="card-header">I2C direct</div>
      <div class="card-body">
        <div class="p-1">
          <b-input-group prepend="Current address">
            <b-form-input v-model="chip_addr" type="text" />
          </b-input-group>
        </div>
        <div class="p-1">
          <b-button variant="outline-primary" @click="getSmbusScan"
            >Search new device</b-button
          >
        </div>
        <div class="p-1">
          <b-input-group prepend="List of address">
            <b-form-select
              v-model="address_selected"
              :options="address"
              button-variant="primary"
            />
            <b-input-group-append>
              <b-button
                variant="outline-primary"
                @click="
                  putNewAddress();
                  getFeastState();
                "
                >ok</b-button
              >
            </b-input-group-append>
          </b-input-group>
        </div>
      </div>
    </div>

    <div class="card mt-4" v-if="connection == 2">
      <div class="card-header">I2C chain</div>
      <div class="card-body">
        <div class="p-1">
          <b-input-group prepend="Master">
            <b-form-select
              v-model="i2cm"
              @change="onPutConnection(1, $event)"
              :options="i2cm_options"
              button-variant="outline-secondary"
            />
          </b-input-group>
        </div>

        <div class="p-1">
          <b-input-group prepend="Slave address">
            <b-form-input
              v-model="slave_addr"
              type="text"
              @change="onPutConnection(2, $event)"
              placeholder="Enter slave address"
            ></b-form-input>
          </b-input-group>
        </div>
      </div>
    </div>
    <b-modal
      ref="axios-error-modal"
      hide-footer
      hide-header-close
      title="Request error"
    >
      <div class="card-body mt-4" variant="warning">
        {{ errorMessage }}
      </div>
    </b-modal>
  </div>
</template>

<script>
const API_URL = "/api";
import axios from "axios";

export default {
  data: function () {
    return {
      update: "",
      connection: "",
      address: "",
      address_selected: "",
      connection_options: [
        { text: "Virtual lpGBT", value: 0 },
        { text: "Real lpGBT", value: 1 },
        { text: "Cascaded lpGBT(s)", value: 2 },
      ],
      chip_addr: "",
      slave_addr: 0,
      errorMessage: "",
      i2cm: 0,
      i2cm_options: [
        { text: "I2CM0", value: 0 },
        { text: "I2CM1", value: 1 },
        { text: "I2CM2", value: 2 },
      ],
    };
  },

  created: function () {
    this.updateConnection();
  },

  methods: {
    getFeastState() {
      this.$root.$emit("getFeastState"); //like this
    },
    // get methods
    // put methods
    onPutConnection(field, value) {
      if (field == 0) {
        var connection = value;
        var i2cm = this.i2cm;
        var slave_addr = this.slave_addr;
      }
      if (field == 1) {
        var connection = this.connection;
        var i2cm = value;
        var slave_addr = this.slave_addr;
      }
      if (field == 2) {
        var connection = this.connection;
        var i2cm = this.i2cm;
        var slave_addr = value;
      }
      axios
        .put(`${API_URL}/connection`, {
          connection: connection, //this.connection,
          i2cm: i2cm,
          slave_addr: slave_addr,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
        })
        .catch((error) => {
          //console.log(error);
        });
    },
    updateConnection() {
      axios
        .get(`${API_URL}/connection`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.connection = response.data.result.connection;
            this.chip_addr = response.data.result.chip_addr;
          }
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    getSmbusScan() {
      axios
        .get(`${API_URL}/smbus`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }
            this.$refs["axios-error-modal"].show();
          } else {
            this.address = response.data.result.address;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    putNewAddress() {
      axios
        .put(`${API_URL}/smbus`, {
          address_selected: this.address_selected,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.$router.push("Core");
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>

<style lang="scss"></style>
