<template>
  <div class="core">
    <div class="card mt-4">
      <div class="card-header">
        Chip Mode
        <a
          v-bind:href="
            'https://lpgbt.web.cern.ch/lpgbt/v' +
            chip_version +
            '/introduction.html#transceiver-modes'
          "
          target="_blank"
          ><icon name="question-circle" class="text-secondary"
        /></a>
      </div>
      <div class="card-body">
        <div class="p-2">
          <b-input-group prepend="LpGBT Mode">
            <b-form-radio-group
              id="btnradios_mode"
              buttons
              v-model="mode"
              @change="onPutMode(0, $event)"
              button-variant="outline-info"
              name="radiosBtnDefault"
            >
              <b-form-radio
                v-for="opt in mode_options"
                :key="opt.value"
                :value="opt.value"
              >
                <icon :name="opt.icon" />
                {{ opt.text }}
              </b-form-radio>
            </b-form-radio-group>
          </b-input-group>
        </div>
      </div>
    </div>

    <transition name="fade">
      <div class="card mt-4" v-if="tx_mode_visible">
        <div class="card-header">
          Transmitter mode
          <a
            v-bind:href="
              'https://lpgbt.web.cern.ch/lpgbt/v' +
              chip_version +
              '/configuration.html'
            "
            target="_blank"
            ><icon name="question-circle" class="text-secondary"
          /></a>
        </div>
        <div class="card-body">
          <div class="p-2">
            <b-input-group prepend="Tx Data Rate">
              <b-form-radio-group
                id="btnradios_txrate"
                buttons
                button-variant="outline-info"
                v-model="tx_datarate"
                @change="onPutMode(1, $event)"
                :options="tx_datarate_options"
                name="radiosBtnDefault"
              />

              <tr v-for="(status, index) in stat" :key="index">
                {{
                  status.mode
                }}
              </tr>
            </b-input-group>
          </div>
          <div class="p-2">
            <b-input-group prepend="Tx Encoding">
              <b-form-radio-group
                id="btnradios_txfec"
                buttons
                button-variant="outline-info"
                v-model="tx_fec"
                @change="onPutMode(2, $event)"
                :options="tx_fec_options"
                name="radiosBtnDefault"
              />
            </b-input-group>
          </div>
        </div>
      </div>
    </transition>

    <transition name="slide">
      <div class="card mt-4" v-if="eprx_visible">
        <div class="card-header">
          <div class="container">
            Uplink EPRX
            <a
              v-bind:href="
                'https://lpgbt.web.cern.ch/lpgbt/v' +
                chip_version +
                '/ePorts.html'
              "
              target="_blank"
              ><icon name="question-circle" class="text-secondary"
            /></a>
            <div class="float-right">
              <b-link
                class="text-secondary"
                v-on:click="
                  toggleEprxDetails();
                  getEprxAdvanced();
                  getEprxLock();
                  getEprxDll();
                  getEprxPhases();
                  onEnableUplink();
                "
                ><font-awesome-icon icon="cogs"
              /></b-link>
            </div>
          </div>
        </div>

        <transition name="slide">
          <div class="card-body" v-if="!eprx_details">
            <div class="p-1">
              <b-input-group prepend="Data rate">
                <b-form-radio-group
                  id="btnradios_txmode"
                  buttons
                  v-model="eprx_data_rate"
                  @change="onPutEprx(0, $event)"
                  button-variant="outline-primary"
                  :options="eprx_data_rate_options"
                  name="radiosBtnDefault"
                />
              </b-input-group>
            </div>
            <div class="p-1">
              <b-input-group prepend="option">
                <b-form-checkbox-group
                  id="btnradios_eprxx_chns"
                  buttons
                  v-model="eprx_chns"
                  @change="
                    onPutEprx(1, $event);
                    $bvToast.show('eprx-global-option');
                  "
                  button-variant="outline-primary"
                  :options="eprx_chns_global_options"
                  name="radiosBtnDefault"
                />
              </b-input-group>
            </div>
          </div>
        </transition>

        <transition name="slide">
          <div role="tablist" v-if="eprx_details">
            <div v-for="gid in [0, 1, 2, 3, 4, 5, 6]" :key="gid.id">
              <b-card no-body :key="gid">
                <b-card-header header-tag="header" class="p-0" role="tab">
                  <b-btn
                    block
                    href="#"
                    v-b-toggle="'erx_accordion-' + gid"
                    variant="primary"
                    >EPRX{{ gid }}</b-btn
                  >
                </b-card-header>
                <b-collapse
                  v-bind:id="'erx_accordion-' + gid"
                  accordion="erx_accordion"
                  visible
                >
                  <b-card-body>
                    <div class="p-1">
                      <b-input-group prepend="Data rate">
                        <b-form-radio-group
                          id="btnradios_txmode"
                          buttons
                          v-model="eprx_data_rate_group[gid]"
                          @change="
                            onPutEprxAdvanced();
                            getEprxLock();
                            getEprxDll();
                          "
                          button-variant="outline-primary"
                          :options="eprx_data_rate_options"
                          name="radiosBtnDefault"
                        />
                      </b-input-group>
                    </div>

                    <div class="p-1">
                      <b-input-group prepend="Track mode">
                        <b-form-radio-group
                          id="btnradios_eprxx_track_molde"
                          buttons
                          v-model="eprx_track_mode_group[gid]"
                          @change="
                            onPutEprxAdvanced();
                            getEprxLock();
                            getEprxPhases();
                            getEprxDll();
                          "
                          button-variant="outline-primary"
                          :options="eprx_track_mode_options"
                          name="radiosBtnDefault"
                        />
                      </b-input-group>
                    </div>

                    <div v-for="cid in [0, 1, 2, 3]" :key="cid.id">
                      <div class="border border-grey">
                        <div class="p-1">
                          Channel {{ cid }}
                          <input
                            type="checkbox"
                            v-model="eprx_chns_enable[gid][cid]"
                            @change="
                              onPutEprxAdvanced();
                              getEprxLock();
                              getEprxDll();
                            "
                            :disabled="eprx_toggle_chns[gid][cid]"
                          />
                        </div>
                        <transition name="slide">
                          <div role="tablist" v-if="eprx_chns_enable[gid][cid]">
                            <div class="p-1">
                              Lock
                              <icon
                                name="check-circle"
                                v-if="eprx_chns_locked[gid][cid] == true"
                                v-b-popover.hover.top="'Channel locked'"
                                class="text-success"
                              />
                              <icon
                                name="check-circle"
                                v-if="eprx_chns_locked[gid][cid] == false"
                                v-b-popover.hover.top="'Channel not locked'"
                                class="text-secondary"
                              />
                            </div>
                            <div class="p-1">
                              <b-input-group prepend="Control">
                                <b-form-checkbox-group
                                  id="btnradios_eprxx_chns"
                                  buttons
                                  @change="
                                    onPutEprxAdvanced();
                                    getEprxLock();
                                    getEprxDll();
                                    $bvToast.show('eprx-grp-chn-option');
                                  "
                                  v-model="eprx_chns_group[gid][cid]"
                                  button-variant="outline-primary"
                                  :options="eprx_chns_options"
                                  name="radiosBtnDefault"
                                />
                              </b-input-group>
                            </div>
                            <div class="p-1">
                              <b-input-group prepend="Equalization">
                                <b-form-radio-group
                                  id="btnradios_eprxx_equalization"
                                  buttons
                                  @change="
                                    onPutEprxAdvanced();
                                    getEprxLock();
                                    getEprxDll();
                                  "
                                  v-model="
                                    eprx_equalization_chns_group[gid][cid]
                                  "
                                  button-variant="outline-primary"
                                  :options="eprx_equalization_options"
                                  name="radiosBtnDefault"
                                />
                              </b-input-group>
                            </div>
                            <div class="p-1">
                              <b-input-group prepend="Phase">
                                <b-form-input
                                  id="range"
                                  v-model="eprx_chns_group_phase[gid][cid]"
                                  @change="
                                    onPutEprxAdvanced();
                                    getEprxLock();
                                    getEprxDll();
                                  "
                                  type="range"
                                  :min="0"
                                  :max="14"
                                  trigger-change-event
                                  :disabled="
                                    eprx_track_mode_group[gid] != 0 &&
                                    eprx_track_mode_group[gid] != 3
                                  "
                                >
                                </b-form-input>
                              </b-input-group>
                            </div>
                            <div class="p-1">
                              <b-button
                                block
                                @click="
                                  onPutRetrainChn();
                                  showPhaseInitMsg(gid, cid);
                                  getEprxPhases();
                                "
                                v-model="eprx_chns_phase_training[gid][cid]"
                                variant="outline-primary"
                                >Initialize phase training</b-button
                              >
                            </div>

                            <div class="p-1">
                              Lock filter
                              <icon
                                name="check-circle"
                                v-if="eprx_dll_locked[gid] == true"
                                v-b-popover.hover.top="'Locked'"
                                class="text-success"
                              />
                              <icon
                                name="check-circle"
                                v-if="eprx_dll_locked[gid] == false"
                                v-b-popover.hover.top="'Not locked'"
                                class="text-secondary"
                              />
                            </div>

                            <div class="p-1">
                              <b-input-group
                                prepend="Loss of Lock counter value"
                              >
                                <b-form-input
                                  v-model="eprx_lossoflock_counter[gid]"
                                ></b-form-input>
                              </b-input-group>
                            </div>
                            <div class="p-1">
                              <b-input-group
                                prepend="State of Lock filter state machine"
                              >
                                <b-form-input
                                  v-model="eprx_filter_state[gid]"
                                ></b-form-input>
                              </b-input-group>
                            </div>
                          </div>
                        </transition>
                      </div>
                    </div>
                  </b-card-body>
                </b-collapse>
              </b-card>
            </div>
          </div>
        </transition>
      </div>
    </transition>

    <div class="card mt-4" v-if="eprx_visible">
      <div class="p-1">
        <div class="card-header">
          <div class="container">
            Uplink EC
            <a
              v-bind:href="
                'https://lpgbt.web.cern.ch/lpgbt/v' +
                chip_version +
                '/ePorts.html#ec-channel'
              "
              target="_blank"
              ><icon name="question-circle" class="text-secondary"
            /></a>
          </div>
        </div>
      </div>

      <transition name="slide">
        <div class="card-body">
          <div class="p-1">
            <b-input-group prepend="Eport state">
              <b-form-radio-group
                id="btn_pull"
                buttons
                v-model="eprx_ec_enable"
                @change="onPutEprxEc(0, $event)"
                name="pullbtns"
                button-variant="outline-primary"
              >
                <b-form-radio
                  v-for="opt in eprx_ec_options"
                  :key="opt.value"
                  :value="opt.value"
                  style="padding: 0.375rem 0.4rem"
                >
                  {{ opt.text }}
                </b-form-radio>
              </b-form-radio-group>
            </b-input-group>
          </div>
          <div class="p-1">
            <b-input-group
              prepend=" Track mode"
              v-if="eprx_ec_enable == 1 && chip_version == 0"
            >
              <b-form-radio-group
                id="btnradios_eprxec_track_mode"
                buttons
                v-model="eprx_ec_track_mode"
                @change="onPutEprxEc(1, $event)"
                button-variant="outline-primary"
                :options="eprx_ec_track_mode_v0_options"
                name="radiosBtnDefault"
              />
            </b-input-group>
          </div>
          <div class="p-1">
            <b-input-group
              prepend=" Track mode"
              v-if="eprx_ec_enable == 1 && chip_version == 1"
            >
              <b-form-radio-group
                id="btnradios_eprxec_track_mode"
                buttons
                v-model="eprx_ec_track_mode"
                @change="onPutEprxEc(1, $event)"
                button-variant="outline-primary"
                :options="eprx_ec_track_mode_v1_options"
                name="radiosBtnDefault"
              />
            </b-input-group>
          </div>
          <div class="p-1">
            <b-input-group prepend="Channel option" v-if="eprx_ec_enable == 1">
              <b-form-checkbox-group
                id="btnradios_eprx_ec_chns"
                buttons
                v-model="eprx_ec_chns"
                @change="onPutEprxEc(2, $event)"
                button-variant="outline-primary"
                :options="eprx_ec_chns_options"
                name="radiosBtnDefault"
              />
            </b-input-group>
          </div>
          <div class="p-1">
            <b-input-group prepend="Phase" v-if="eprx_ec_enable == 1">
              <b-form-input
                id="range"
                v-model="eprx_ec_chn_phase"
                @change="onPutEprxEc(3, $event)"
                type="range"
                :min="0"
                :max="14"
                trigger-change-event
                :disabled="eprx_ec_track_mode != 0 && eprx_ec_track_mode != 3"
              >
              </b-form-input>
            </b-input-group>
          </div>
        </div>
      </transition>
    </div>

    <transition name="slide">
      <div class="card mt-4" v-if="eptx_visible">
        <div class="card-header">
          Downlink EPTX
          <a
            v-bind:href="
              'https://lpgbt.web.cern.ch/lpgbt/v' +
              chip_version +
              '/ePorts.html'
            "
            target="_blank"
            ><icon name="question-circle" class="text-secondary"
          /></a>
          <div class="float-right">
            <b-link
              class="text-secondary"
              v-on:click="
                toggleEptxDetails();
                getEptxAdvanced();
                onEnableDownlink();
              "
              ><font-awesome-icon icon="cogs"
            /></b-link>
          </div>
        </div>

        <transition name="slide">
          <div class="card-body" v-if="!eptx_details">
            <div class="p-1">
              <b-input-group prepend=" Data rate">
                <b-form-radio-group
                  id="btnradios_eptx_datarate"
                  buttons
                  @change="onPutEptx(0, $event)"
                  button-variant="outline-primary"
                  v-model="eptx_data_rate"
                  :options="eptx_data_rate_options"
                  name="radiosBtnDefault"
                />
              </b-input-group>
            </div>

            <div class="p-1">
              <b-input-group prepend="Drive strength" append="mA">
                <b-form-select
                  v-model="etx_ds"
                  :options="etx_options"
                  @change="onPutEptx(1, $event)"
                />
              </b-input-group>
            </div>

            <div class="p-1">
              <b-input-group prepend="Pre-emp mode">
                <b-form-select
                  v-model="etx_pem"
                  :options="etx_pem_options"
                  @change="onPutEptx(1, $event)"
                />
              </b-input-group>
            </div>

            <div class="p-1">
              <b-input-group prepend="Pre-emp strength" append="mA">
                <b-form-select
                  v-model="etx_pes"
                  :options="etx_options"
                  @change="onPutEptx(1, $event)"
                  :disabled="etx_pem == 0"
                />
              </b-input-group>
            </div>

            <div class="p-1">
              <b-input-group prepend="Pre-emp width" append="ps">
                <b-form-select
                  v-model="etx_pew"
                  :options="etx_pew_options"
                  @change="onPutEptx(1, $event)"
                  :disabled="etx_pem != 2"
                />
              </b-input-group>
            </div>
          </div>
        </transition>

        <transition name="slide">
          <div role="tablist" v-if="eptx_details">
            <div v-for="gid in [0, 1, 2, 3]" :key="gid.id">
              <b-card no-body :key="gid">
                <b-card-header header-tag="header" class="p-0" role="tab">
                  <b-btn
                    block
                    href="#"
                    v-b-toggle="'etx_accordion-' + gid"
                    variant="primary"
                    >EPTX{{ gid }}</b-btn
                  >
                </b-card-header>
                <b-collapse
                  v-bind:id="'etx_accordion-' + gid"
                  accordion="etx_accordion"
                  visible
                >
                  <b-card-body>
                    <p class="card-text"></p>
                    <div class="p-1">
                      <b-input-group prepend="Data rate">
                        <b-form-radio-group
                          id="btnradios_txmode"
                          buttons
                          v-model="eptx_data_rate_group[gid]"
                          @change="onPutEptxAdvanced()"
                          button-variant="outline-primary"
                          :options="eptx_data_rate_options"
                          name="radiosBtnDefault"
                        />
                      </b-input-group>
                    </div>

                    <div class="p-1">
                      <b-input-group prepend="Fine Tune">
                        <b-form-radio-group
                          id="btn_pull"
                          buttons
                          v-model="eptx_mirror[gid]"
                          @change="onPutEptxAdvanced()"
                          name="pullbtns"
                          button-variant="outline-primary"
                        >
                          <b-form-radio
                            v-for="opt in eptx_mirror_options"
                            :key="opt.value"
                            :value="opt.value"
                            style="padding: 0.375rem 0.4rem"
                          >
                            {{ opt.text }}
                          </b-form-radio>
                        </b-form-radio-group>
                      </b-input-group>
                    </div>

                    <div v-for="cid in [0, 1, 2, 3]" :key="cid.id">
                      <div class="p-1">
                        Channel {{ cid }}
                        <input
                          type="checkbox"
                          variant="primary"
                          v-model="eptx_chns_enable[gid][cid]"
                          @change="onPutEptxAdvanced()"
                          :disabled="eptx_toggle_chns[gid][cid]"
                        />
                      </div>

                      <transition name="slide">
                        <div role="tablist" v-if="eptx_chns_enable[gid][cid]">
                          <div class="p-1">
                            <b-input-group prepend="Drive strength" append="mA">
                              <b-form-select
                                v-model="eptx_ds_chns[gid][cid]"
                                @change="onPutEptxAdvanced()"
                                :options="etx_options"
                              />
                            </b-input-group>
                          </div>

                          <div class="p-1">
                            <b-input-group prepend="Pre-emp mode">
                              <b-form-select
                                v-model="eptx_pem_chns[gid][cid]"
                                @change="onPutEptxAdvanced()"
                                :options="etx_pem_options"
                              />
                            </b-input-group>
                          </div>

                          <div class="p-1">
                            <b-input-group
                              prepend="Pre-emp strength"
                              append="mA"
                            >
                              <b-form-select
                                v-model="eptx_pes_chns[gid][cid]"
                                @change="onPutEptxAdvanced()"
                                :options="etx_options"
                                :disabled="eptx_pem_chns[gid][cid] == 0"
                              />
                            </b-input-group>
                          </div>

                          <div class="p-1">
                            <b-input-group prepend="Pre-emp width" append="ps">
                              <b-form-select
                                v-model="eptx_pew_chns[gid][cid]"
                                @change="onPutEptxAdvanced()"
                                :options="etx_pew_options"
                                :disabled="eptx_pem_chns[gid][cid] != 2"
                              />
                            </b-input-group>
                          </div>
                        </div>
                      </transition>
                    </div>
                  </b-card-body>
                </b-collapse>
              </b-card>
            </div>
          </div>
        </transition>
      </div>
    </transition>

    <transition name="slide">
      <div class="card mt-4" v-if="eptx_visible">
        <div class="card-header">
          Downlink EC
          <a
            v-bind:href="
              'https://lpgbt.web.cern.ch/lpgbt/v' +
              chip_version +
              '/ePorts.html#ec-channel'
            "
            target="_blank"
            ><icon name="question-circle" class="text-secondary"
          /></a>
        </div>
        <transition name="slide">
          <div class="card-body">
            <div class="p-1">
              <b-input-group prepend="Eport state">
                <b-form-radio-group
                  id="btn_pull"
                  buttons
                  v-model="eptx_ec_enable"
                  @change="onPutEptxEc(0, $event)"
                  name="pullbtns"
                  button-variant="outline-primary"
                >
                  <b-form-radio
                    v-for="opt in eptx_ec_options"
                    :key="opt.value"
                    :value="opt.value"
                    style="padding: 0.375rem 0.4rem"
                  >
                    {{ opt.text }}
                  </b-form-radio>
                </b-form-radio-group>
              </b-input-group>
            </div>

            <div class="p-1">
              <b-input-group
                prepend="Drive strength"
                append="mA"
                v-if="eptx_ec_enable == 1"
              >
                <b-form-select
                  v-model="etx_ec_ds"
                  :options="etx_options"
                  @change="onPutEptxEc(1, $event)"
                />
              </b-input-group>
            </div>

            <div class="p-1">
              <b-input-group prepend="Pre-emp mode" v-if="eptx_ec_enable == 1">
                <b-form-select
                  v-model="etx_ec_pem"
                  :options="etx_pem_options"
                  @change="onPutEptxEc(2, $event)"
                />
              </b-input-group>
            </div>

            <div class="p-1">
              <b-input-group
                prepend="Pre-emp strength"
                append="mA"
                v-if="eptx_ec_enable == 1"
              >
                <b-form-select
                  v-model="etx_ec_pes"
                  :options="etx_options"
                  @change="onPutEptxEc(3, $event)"
                  :disabled="etx_ec_pem == 0"
                />
              </b-input-group>
            </div>

            <div class="p-1">
              <b-input-group
                prepend="Pre-emp width"
                append="ps"
                v-if="eptx_ec_enable == 1"
              >
                <b-form-select
                  v-model="etx_ec_pew"
                  :options="etx_ec_pew_options"
                  @change="onPutEptxEc(4, $event)"
                  :disabled="etx_ec_pem != 2"
                />
              </b-input-group>
            </div>

            <div class="p-1">
              <b-input-group prepend="Eptx invert" v-if="eptx_ec_enable == 1">
                <b-form-select
                  v-model="eptx_invert"
                  :options="eptx_ec_options"
                  @change="onPutEptxEc(5, $event)"
                />
              </b-input-group>
            </div>
          </div>
        </transition>
      </div>
    </transition>

    <b-modal
      ref="axios-error-modal"
      hide-footer
      hide-header-close
      title="Request error"
    >
      <div class="card-body mt-4" variant="warning">
        {{ errorMessage }}
      </div>
    </b-modal>
  </div>
</template>

<script>
import axios from "axios";
/* eslint-disable */
// eslint-disable-next-line
const API_URL = "/api";

export default {
  name: "core",
  data: function () {
    return {
      errorMessage: "",
      gid: "",
      box: "",
      stat: [],
      mode: "",
      mode_options: [
        { icon: "ban", text: "OFF", value: "off" },
        { icon: "cloud-upload-alt", text: "TX", value: "tx" },
        { icon: "cloud-download-alt", text: "RX", value: "rx" },
        { icon: "cloud", text: "TRX", value: "trx" },
      ],

      tx_mode_visible: false,
      tx_datarate: "",
      tx_datarate_options: [
        { text: "5Gbps", value: "5" },
        { text: "10Gbps", value: "10" },
      ],

      tx_fec: "",
      tx_fec_options: [
        { text: "FEC5", value: "5" },
        { text: "FEC12", value: "12" },
      ],

      eprx_visible: false,
      eprx_data_rate: "",
      eprx_data_rate_group: [],
      eprx_details: false,
      eprx_chns_enable: [[], [], [], [], [], [], []],
      eprx_chns_locked: [[], [], [], [], [], [], []],
      eprx_data_rate_options: [],
      eprx_10G_data_rate_options: [
        { text: "OFF", value: 0, disabled: false },
        { text: "320", value: 1, disabled: false },
        { text: "640", value: 2, disabled: false },
        { text: "1280", value: 3, disabled: false },
      ],
      eprx_5G_data_rate_options: [
        { text: "OFF", value: 0, disabled: false },
        { text: "160", value: 1, disabled: false },
        { text: "320", value: 2, disabled: false },
        { text: "640", value: 3, disabled: false },
      ],
      eprx_track_mode: 2,
      eprx_track_mode_group: [],
      eprx_track_mode_options: [
        { text: "Static", value: 0 },
        { text: "Auto Startup", value: 1 },
        { text: "Continues", value: 2 },
        { text: "Continues Init Phase", value: 3 },
      ],
      eprx_equalization: [],
      eprx_equalization_chns_group: [],
      eprx_equalization_options: [
        { text: "OFF", value: 0 },
        { text: "70 MHz", value: 3 },
        { text: "125 MHz", value: 2 },
        { text: "300 MHz", value: 1 },
      ],
      eprx_chns: [],
      eprx_chns_group_phase: [[], [], [], [], [], [], []],
      eprx_chns_group: [],
      eprx_chns_options: [
        { text: "TERM", value: "term", disabled: false },
        { text: "AC Bias", value: "ac", disabled: false },
        { text: "INV", value: "inv", disabled: false },
      ],
      eprx_chns_global_options: [
        { text: "TERM", value: "term", disabled: false },
        { text: "AC Bias", value: "ac", disabled: false },
      ],

      eprx_toggle_chns: [[], [], [], [], [], [], []],
      eptx_toggle_chns: [[], [], [], []],

      eptx_disable_chns: true,

      eptx_visible: false,
      eptx_details: false,
      eptx_data_rate: "",
      eptx_data_rate_group: [],
      eptx_data_rate_options: [
        { text: "OFF", value: 0 },
        { text: "80", value: 1 },
        { text: "160", value: 2 },
        { text: "320", value: 3 },
      ],

      eptx_chns_enable: [[], [], [], []],

      eptx_mirror: [[], [], [], []],
      eptx_mirror_options: [
        { text: "Enable", value: 1 },
        { text: "Disable", value: 0 },
      ],

      etx_ds: "",
      etx_pem: "",
      etx_pew: "",
      etx_pes: "",
      eptx_ds_chns: [],
      eptx_pem_chns: [],
      eptx_pew_chns: [],
      eptx_pes_chns: [],

      etx_options: [
        { text: "0", value: 0 },
        { text: "1.0", value: 1 },
        { text: "1.5", value: 2 },
        { text: "2.0", value: 3 },
        { text: "2.5", value: 4 },
        { text: "3.0", value: 5 },
        { text: "3.5", value: 6 },
        { text: "4.0", value: 7 },
      ],
      etx_pem_options: [
        { text: "Disabled", value: 0 },
        { text: "Self-timed", value: 2 },
        { text: "Clock timed", value: 3 },
      ],
      etx_pew_options: [
        { text: "120", value: 0 },
        { text: "240", value: 1 },
        { text: "360", value: 2 },
        { text: "480", value: 3 },
        { text: "600", value: 4 },
        { text: "720", value: 5 },
        { text: "840", value: 6 },
        { text: "960", value: 7 },
      ],
      pulse_duration: "",
      pulse_duration_options: [
        { value: 0, text: "Disabled" },
        { value: 1, text: "100 ns" },
        { value: 2, text: "1 us" },
        { value: 3, text: "10 us" },
      ],
      eprx_chns_phase_training: [],

      eprx_ec_enable: "",
      eprx_ec_options: [
        { text: "Disable", value: 0 },
        { text: "Enable", value: 1 },
      ],
      eprx_ec_track_mode: "continues",
      eprx_ec_track_mode_v0_options: [
        { text: "Static", value: 0 },
        { text: "Auto Startup", value: 1 },
        { text: "Continues", value: 2 },
        { text: "Continues Init Phase", value: 3 },
      ],
      eprx_ec_track_mode_v1_options: [
        { text: "Static", value: 0 },
        { text: "Continues", value: 1 },
      ],
      eprx_ec_chn_phase: 0,
      eprx_ec_chns: [],
      eprx_ec_chns_options: [
        { text: "TERM", value: "term", disabled: false },
        { text: "AC Bias", value: "ac", disabled: false },
        { text: "INV", value: "inv", disabled: false },
      ],
      eprx_dll_locked: [],
      eprx_lossoflock_counter: [],
      eprx_filter_state: [],
      eptx_ec_enable: "",
      eptx_invert: "",
      eptx_ec_options: [
        { text: "Disable", value: 0 },
        { text: "Enable", value: 1 },
      ],
      etx_ec_ds: 4,
      etx_ec_pem: 0,
      etx_ec_pew: 0,
      etx_ec_pes: 0,
      etx_ec_pew_options: [
        { text: "120", value: 0 },
        { text: "360", value: 1 },
        { text: "600", value: 2 },
        { text: "840", value: 3 },
      ],
      chip_version: 1,
    };
  },

  created() {
    // fetch the data when the view is created and the data is
    // already being observed
    this.getChipVersion();
    this.getMode();
    this.getEprx();
    this.getEptx();
    this.getEprxEc();
    this.getEptxEc();
  },

  methods: {
    // get methods //
    getMode() {
      axios
        .get(`${API_URL}/mode`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.mode = response.data.result.mode;
            this.tx_fec = response.data.result.tx_fec;
            this.tx_datarate = response.data.result.tx_datarate;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    getEprx() {
      axios
        .get(`${API_URL}/eprx`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.eprx_data_rate = response.data.result.eprx_data_rate;
            this.eprx_chns = response.data.result.eprx_chns;
          }
        })
        .catch((error) => {
          console.error(error);
          id;
        });
    },
    getEprxAdvanced() {
      axios
        .get(`${API_URL}/eprxAdvanced`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.eprx_data_rate_group = response.data.result.eprx_data_rate_group;
            this.eprx_track_mode_group = response.data.result.eprx_track_mode_group;
            this.eprx_chns_group = response.data.result.eprx_chns_group;
            this.eprx_equalization_chns_group = response.data.result.eprx_equalization_chns_group;
            this.eprx_chns_enable = response.data.result.eprx_chns_enable;
            this.eprx_chns_phase_training = response.data.result.eprx_chns_phase_training;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    getEprxLock() {
      axios
        .get(`${API_URL}/eprxLock`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }
            id;

            this.$refs["axios-error-modal"].show();
          } else {
            this.eprx_chns_locked = response.data.result.eprx_chns_locked;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    getEprxPhases() {
      axios
        .get(`${API_URL}/eprxPhases`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.eprx_chns_group_phase =
              response.data.result.eprx_chns_group_phase;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    getEprxDll() {
      axios
        .get(`${API_URL}/eprxDll`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.eprx_dll_locked = response.data.result.eprx_dll_locked;
            this.eprx_filter_state = response.data.result.eprx_filter_state;
            this.eprx_lossoflock_counter =
              response.data.result.eprx_lossoflock_counter;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    getEptx() {
      axios
        .get(`${API_URL}/eptx`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.eptx_data_rate = response.data.result.eptx_data_rate;
            this.etx_ds = response.data.result.etx_ds;
            this.etx_pem = response.data.result.etx_pem;
            this.etx_pes = response.data.result.etx_pes;
            this.etx_pew = response.data.result.etx_pew;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    getEptxAdvanced() {
      axios
        .get(`${API_URL}/eptxAdvanced`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.eptx_data_rate_group =
              response.data.result.eptx_data_rate_group;
            this.eptx_mirror = response.data.result.eptx_mirror;
            this.eptx_chns_enable = response.data.result.eptx_chns_enable;
            this.eptx_ds_chns = response.data.result.eptx_ds_chns;
            this.eptx_pem_chns = response.data.result.eptx_pem_chns;
            this.eptx_pes_chns = response.data.result.eptx_pes_chns;
            this.eptx_pew_chns = response.data.result.eptx_pew_chns;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    getEprxEc() {
      axios
        .get(`${API_URL}/eprxEc`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.eprx_ec_enable = response.data.result.eprx_ec_enable;
            this.eprx_ec_track_mode = response.data.result.eprx_ec_track_mode;
            this.eprx_ec_chns = response.data.result.eprx_ec_chns;
            this.eprx_ec_chn_phase = response.data.result.eprx_ec_chn_phase;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    getEptxEc() {
      axios
        .get(`${API_URL}/eptxEc`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.eptx_ec_enable = response.data.result.eptx_ec_enable;
            this.etx_ec_ds = response.data.result.etx_ec_ds;
            this.etx_ec_pem = response.data.result.etx_ec_pem;
            this.etx_ec_pes = response.data.result.etx_ec_pes;
            this.etx_ec_pew = response.data.result.etx_ec_pew;
            this.eptx_invert = response.data.result.eptx_invert;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    // put methods //
    onPutMode(field, value) {
      if (field == 0) {
        var mode = value;
        var txdr = this.tx_datarate;
        var txfec = this.tx_fec;
      }
      if (field == 1) {
        var mode = this.mode;
        var txdr = value;
        var txfec = this.tx_fec;
      }
      if (field == 2) {
        var mode = this.mode;
        var txdr = this.tx_datarate;
        var txfec = value;
      }

      axios
        .put(`${API_URL}/mode`, {
          mode: mode,
          tx_datarate: txdr,
          tx_fec: txfec,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    onPutEprx(field, value) {
      if (field == 0) {
        var dr = value;
        var ac = this.eprx_chns.indexOf("ac") > -1;
        var term = this.eprx_chns.indexOf("term") > -1;
      }
      if (field == 1) {
        var dr = this.eprx_data_rate;
        var ac = value.indexOf("ac") > -1;
        var term = value.indexOf("term") > -1;
      }
      axios
        .put(`${API_URL}/eprx`, {
          data_rate: dr,
          term: term,
          ac: ac,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    onPutEprxAdvanced() {
      axios
        .put(`${API_URL}/eprxAdvanced`, {
          mode: this.mode,
          eprx_data_rate_group: this.eprx_data_rate_group,
          eprx_track_mode_group: this.eprx_track_mode_group,
          eprx_chns_group: this.eprx_chns_group,
          eprx_equalization_chns_group: this.eprx_equalization_chns_group,
          eprx_chns_group_phase: this.eprx_chns_group_phase,
          eprx_chns_enable: this.eprx_chns_enable,
          eprx_chns_phase_training: this.eprx_chns_phase_training,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    onPutRetrainChn() {
      axios
        .put(`${API_URL}/eprxRetrainChn`, {
          eprx_chns_phase_training: this.eprx_chns_phase_training,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    onPutEprxEc(field, value) {
      if (field == 0) {
        var eprx_ec_enable = value;
        var eprx_ec_track_mode = this.eprx_ec_track_mode;
        var eprx_ec_chns = this.eprx_ec_chns;
        var eprx_ec_chn_phase = this.eprx_ec_chn_phase;
      }
      if (field == 1) {
        var eprx_ec_enable = this.eprx_ec_enable;
        var eprx_ec_track_mode = value;
        var eprx_ec_chns = this.eprx_ec_chns;
        var eprx_ec_chn_phase = this.eprx_ec_chn_phase;
      }
      if (field == 2) {
        var eprx_ec_enable = this.eprx_ec_enable;
        var eprx_ec_track_mode = this.eprx_ec_track_mode;
        var eprx_ec_chns = value;
        var eprx_ec_chn_phase = this.eprx_ec_chn_phase;
      }
      if (field == 3) {
        var eprx_ec_enable = this.eprx_ec_enable;
        var eprx_ec_track_mode = this.eprx_ec_track_mode;
        var eprx_ec_chns = this.eprx_ec_chns;
        var eprx_ec_chn_phase = value;
      }
      axios
        .put(`${API_URL}/eprxEc`, {
          eprx_ec_enable: eprx_ec_enable,
          eprx_ec_track_mode: eprx_ec_track_mode,
          eprx_ec_chns: eprx_ec_chns,
          eprx_ec_chn_phase: eprx_ec_chn_phase,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    onPutEptx(field, value) {
      if (field == 0) {
        var dr = value;
      }
      if (field == 1) {
        dr = this.eptx_data_rate;
      }
      axios
        .put(`${API_URL}/eptx`, {
          eptx_data_rate: dr,
          etx_ds: this.etx_ds,
          etx_pem: this.etx_pem,
          etx_pes: this.etx_pes,
          etx_pew: this.etx_pew,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    onPutEptxAdvanced() {
      axios
        .put(`${API_URL}/eptxAdvanced`, {
          eptx_data_rate_group: this.eptx_data_rate_group,
          eptx_mirror: this.eptx_mirror,
          eptx_chns_enable: this.eptx_chns_enable,
          eptx_ds_chns: this.eptx_ds_chns,
          eptx_pem_chns: this.eptx_pem_chns,
          eptx_pes_chns: this.eptx_pes_chns,
          eptx_pew_chns: this.eptx_pew_chns,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    onPutEptxEc(field, value) {
      if (field == 0) {
        var eptx_ec_enable = value;
        var etx_ec_ds = this.etx_ec_ds;
        var etx_ec_pem = this.etx_ec_pem;
        var etx_ec_pes = this.etx_ec_pes;
        var etx_ec_pew = this.etx_ec_pew;
        var eptx_invert = this.eptx_invert;
      }
      if (field == 1) {
        var eptx_ec_enable = this.eptx_ec_enable;
        var etx_ec_ds = value;
        var etx_ec_pem = this.etx_ec_pem;
        var etx_ec_pes = this.etx_ec_pes;
        var etx_ec_pew = this.etx_ec_pew;
        var eptx_invert = this.eptx_invert;
      }
      if (field == 2) {
        var eptx_ec_enable = this.eptx_ec_enable;
        var etx_ec_ds = this.etx_ec_ds;
        var etx_ec_pem = value;
        var etx_ec_pes = this.etx_ec_pes;
        var etx_ec_pew = this.etx_ec_pew;
        var eptx_invert = this.eptx_invert;
      }
      if (field == 3) {
        var eptx_ec_enable = this.eptx_ec_enable;
        var etx_ec_ds = this.etx_ec_ds;
        var etx_ec_pem = this.etx_ec_pem;
        var etx_ec_pes = value;
        var etx_ec_pew = this.etx_ec_pew;
        var eptx_invert = this.eptx_invert;
      }
      if (field == 4) {
        var eptx_ec_enable = this.eptx_ec_enable;
        var etx_ec_ds = this.etx_ec_ds;
        var etx_ec_pem = this.etx_ec_pem;
        var etx_ec_pes = this.etx_ec_pes;
        var etx_ec_pew = value;
        var eptx_invert = this.eptx_invert;
      }
      if (field == 5) {
        var eptx_ec_enable = this.eptx_ec_enable;
        var etx_ec_ds = this.etx_ec_ds;
        var etx_ec_pem = this.etx_ec_pem;
        var etx_ec_pes = this.etx_ec_pes;
        var etx_ec_pew = this.etx_ec_pew;
        var eptx_invert = value;
      }
      axios
        .put(`${API_URL}/eptxEc`, {
          eptx_ec_enable: eptx_ec_enable,
          etx_ec_ds: etx_ec_ds,
          etx_ec_pem: etx_ec_pem,
          etx_ec_pes: etx_ec_pes,
          etx_ec_pew: etx_ec_pew,
          eptx_invert: eptx_invert,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    onEnableUplink() {
      var gid;
      for (gid = 0; gid < 7; gid++) {
        if (this.eprx_data_rate == 0) {
          this.eprx_toggle_chns[gid] = [true, true, true, true];
        }
        if (this.eprx_data_rate == 1) {
          this.eprx_toggle_chns[gid] = [false, false, false, false];
        }
        if (this.eprx_data_rate == 2) {
          this.eprx_toggle_chns[gid] = [false, true, false, true];
        }
        if (this.eprx_data_rate == 3) {
          this.eprx_toggle_chns[gid] = [false, true, true, true];
        }
      }
    },
    onEnableDownlink() {
      var gid;
      for (gid = 0; gid < 7; gid++) {
        if (this.eptx_data_rate == 0) {
          this.eptx_toggle_chns[gid] = [true, true, true, true];
        }
        if (this.eptx_data_rate == 1) {
          this.eptx_toggle_chns[gid] = [false, false, false, false];
        }
        if (this.eptx_data_rate == 2) {
          this.eptx_toggle_chns[gid] = [false, true, false, true];
        }
        if (this.eptx_data_rate == 3) {
          this.eptx_toggle_chns[gid] = [false, true, true, true];
        }
      }
    },
    toggleEprxDetails() {
      if (this.eprx_details) {
        const options = { title: "Confirm?", cancelLabel: "No" };
        this.$dialogs
          .confirm("You will lose your EPRX settings!", options)
          .then((res) => {
            if (res.ok) {
            this.eprx_details = false;
            this.onPutEprx(0, this.eprx_data_rate);
            }
          });
      } else this.eprx_details = true;
    },
    toggleEptxDetails() {
      if (this.eptx_details) {
        const options = { title: "Confirm?", cancelLabel: "No" };
        this.$dialogs
          .confirm("You will lose your EPTX settings!", options)
          .then((res) => {
            if (res.ok) {
            this.eptx_details = false;
            this.onPutEptx(0, this.eptx_data_rate);
            }
          });
      } else this.eptx_details = true;
    },
    showPhaseInitMsg(gid, cid) {
      this.eprx_chns_phase_training[gid][cid] = 1;
      this.box = "";
      this.$bvModal
        .msgBoxOk("Training phase intialized", {
          title: "Info",
          size: "sm",
          buttonSize: "sm",
          okVariant: "primary",
          headerClass: "p-2 border-bottom-0",
          footerClass: "p-2 border-top-0",
          centered: true,
        })
        .then((value) => {
          this.box = value;
          this.getEprxAdvanced();
        })
        .catch((err) => {});
    },
    getChipVersion() {
      axios
        .get(`${API_URL}/chip_version`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.chip_version = response.data.result.chip_version;
          }
        })
        .catch((error) => {
          console.error(error);
          id;
        });
    },
  },
  watch: {
    eprx_data_rate_group(newValue) {
      var gid;
      for (gid = 0; gid < 7; gid++) {
        if (newValue[gid] == 0) {
          this.eprx_toggle_chns[gid] = [true, true, true, true];
          this.eprx_chns_enable[gid] = [false, false, false, false];
        } else if (newValue[gid] == 1) {
          this.eprx_toggle_chns[gid] = [false, false, false, false];
        } else if (newValue[gid] == 2) {
          this.eprx_toggle_chns[gid] = [false, true, false, true];
          this.eprx_chns_enable[gid][1] = false;
          this.eprx_chns_enable[gid][3] = false;
        } else if (newValue[gid] == 3) {
          this.eprx_toggle_chns[gid] = [false, true, true, true];
          this.eprx_chns_enable[gid][1] = false;
          this.eprx_chns_enable[gid][2] = false;
          this.eprx_chns_enable[gid][3] = false;
        }
      }
    },

    eptx_data_rate_group(newValue) {
      var gid;
      for (gid = 0; gid < 4; gid++) {
        if (newValue[gid] == 0) {
          this.eptx_toggle_chns[gid] = [true, true, true, true];
          this.eptx_chns_enable[gid] = [false, false, false, false];
        } else if (newValue[gid] == 1) {
          this.eptx_toggle_chns[gid] = [false, false, false, false];
        } else if (newValue[gid] == 2) {
          this.eptx_toggle_chns[gid] = [false, true, false, true];
          this.eptx_chns_enable[gid][1] = false;
          this.eptx_chns_enable[gid][3] = false;
        } else if (newValue[gid] == 3) {
          this.eptx_toggle_chns[gid] = [false, true, true, true];
          this.eptx_chns_enable[gid][1] = false;
          this.eptx_chns_enable[gid][2] = false;
          this.eptx_chns_enable[gid][3] = false;
        }
      }
    },

    mode(newValue) {
      if (newValue == "tx") {
        this.tx_mode_visible = true;
        this.eprx_visible = true;
        this.eptx_visible = false;
      } else if (newValue == "trx") {
        this.tx_mode_visible = true;
        this.eprx_visible = true;
        this.eptx_visible = true;
      } else if (newValue == "rx") {
        this.eprx_visible = false;
        this.tx_mode_visible = false;
        this.eptx_visible = true;
      } else {
        this.eprx_visible = false;
        this.tx_mode_visible = false;
        this.eptx_visible = false;
      }
    },

    tx_datarate(newValue) {
      if (newValue == "5") {
        this.eprx_data_rate_options = this.eprx_5G_data_rate_options;
      } else {
        this.eprx_data_rate_options = this.eprx_10G_data_rate_options;
      }
    },
  },
};
</script>

<style lang="scss"></style>
