<template>
  <div class="gpio">
    <div class="list">
      <div v-for="id in 16" :key="id" :value="id">
        <div class="card mt-4">
          <div class="card-header">
            GPIO{{ id - 1 }}
            <a
              v-bind:href="
                'https://lpgbt.web.cern.ch/lpgbt/v' + chip_version + '/pio.html'
              "
              target="_blank"
              ><icon name="question-circle" class="text-secondary"
            /></a>
          </div>
          <div class="card-body">
            <div class="p-1">
              <b-input-group prepend="Driver">
                <b-form-radio-group
                  id="btn_pull"
                  buttons
                  v-model="gpio_dir[id - 1]"
                  name="pullbtns"
                  @change="putGpio()"
                  button-variant="outline-primary"
                >
                  <b-form-radio
                    v-for="opt in dir_options"
                    :key="opt.value"
                    :value="opt.value"
                  >
                    <icon :name="opt.icon" />
                    {{ opt.text }}
                  </b-form-radio>
                </b-form-radio-group>
              </b-input-group>
            </div>
            <div class="p-1" v-if="gpio_dir[id - 1]">
              <b-input-group prepend="Drive strength">
                <b-form-radio-group
                  id="btn_pull"
                  buttons
                  v-model="gpio_ds[id - 1]"
                  name="pullbtns"
                  @change="putGpio()"
                  button-variant="outline-primary"
                >
                  <b-form-radio
                    v-for="opt in ds_options"
                    :key="opt.value"
                    :value="opt.value"
                  >
                    <icon :name="opt.icon" />
                    {{ opt.text }}
                  </b-form-radio>
                </b-form-radio-group>
              </b-input-group>
            </div>
            <div class="p-1" v-if="gpio_dir[id - 1]">
              <b-input-group prepend="Output Value">
                <b-form-radio-group
                  id="btn_dir"
                  buttons
                  v-model="gpio_out[id - 1]"
                  name="radiosBtnDefault"
                  @change="putGpio()"
                  button-variant="outline-primary"
                >
                  <b-form-radio
                    v-for="opt in out_options"
                    :key="opt.value"
                    :value="opt.value"
                  >
                    <icon :name="opt.icon" />
                    {{ opt.text }}
                  </b-form-radio>
                </b-form-radio-group>
              </b-input-group>
            </div>
            <div class="p-1" v-if="!gpio_dir[id - 1]">
              <b-input-group prepend="Pull resistor">
                <b-form-radio-group
                  id="btn_pull"
                  buttons
                  v-model="gpio_pull[id - 1]"
                  name="pullbtns"
                  @change="putGpio()"
                  button-variant="outline-primary"
                >
                  <b-form-radio
                    v-for="opt in pull_options"
                    :key="opt.value"
                    :value="opt.value"
                  >
                    <icon :name="opt.icon" />
                    {{ opt.text }}
                  </b-form-radio>
                </b-form-radio-group>
              </b-input-group>
            </div>
            <div class="p-1" v-if="!gpio_dir[id - 1]">
              <b-input-group prepend="Input Value">
                <b-form-radio-group
                  id="btn_dir"
                  buttons
                  v-model="gpio_in[id - 1]"
                  name="radiosBtnDefault"
                  button-variant="outline-primary"
                  style="pointer-events: none"
                >
                  <b-form-radio
                    v-for="opt in out_options"
                    :key="opt.value"
                    :value="opt.value"
                  >
                    <icon :name="opt.icon" />
                    {{ opt.text }}
                  </b-form-radio>
                </b-form-radio-group>
              </b-input-group>
            </div>
          </div>
        </div>
      </div>
    </div>

    <b-modal
      ref="axios-error-modal"
      hide-footer
      hide-header-close
      title="Request error"
    >
      <div class="card-body mt-4" variant="warning">
        {{ errorMessage }}
      </div>
    </b-modal>
  </div>
</template>

<script>
const API_URL = "/api";
import axios from "axios";

export default {
  data: function () {
    return {
      errorMessage: "",
      gpio_dir: [],
      gpio_ds: [],
      gpio_out: [],
      gpio_in: [],
      gpio_pull: [],

      dir_options: [
        { text: "Input", value: 0, icon: "toggle-off" },
        { text: "Output", value: 1, icon: "toggle-on" },
      ],
      ds_options: [
        { text: "low", value: 0, icon: "volume-down" },
        { text: "high", value: 1, icon: "volume-up" },
      ],
      out_options: [
        { text: "0", value: 0, icon: "level-down-alt" },
        { text: "1", value: 1, icon: "level-up-alt" },
      ],
      pull_options: [
        { text: "up", value: 1, icon: "arrow-circle-up" },
        { text: "no", value: 0, icon: "circle" },
        { text: "down", value: -1, icon: "arrow-circle-down" },
      ],

      timer: "",
      chip_version: "",
    };
  },

  created: function () {
    this.getChipVersion();
    this.getGpio();
  },

  methods: {
    cancelAutoUpdate: function () {
      clearInterval(this.timer);
    },
    // get methods
    getGpio() {
      axios
        .get(`${API_URL}/gpio`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.gpio_dir = response.data.result.gpio_dir;
            this.gpio_ds = response.data.result.gpio_ds;
            this.gpio_out = response.data.result.gpio_out;
            this.gpio_in = response.data.result.gpio_in;
            this.gpio_pull = response.data.result.gpio_pull;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    getGpioIn() {
      axios
        .get(`${API_URL}/gpio`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.gpio_in = response.data.result.gpio_in;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    // put methods
    putGpio() {
      axios
        .put(`${API_URL}/gpio`, {
          dir: this.gpio_dir,
          out: this.gpio_out,
          ds: this.gpio_ds,
          pull: this.gpio_pull,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
        })
        .catch((error) => {
          console.log(error);
        });
      this.getGpioIn();
    },
    getChipVersion() {
      axios
        .get(`${API_URL}/chip_version`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.chip_version = response.data.result.chip_version;
          }
        })
        .catch((error) => {
          console.error(error);
          id;
        });
    },
  },

  watch: {
    gpio_in(newValue) {
      this.getGpioIn();
    },
  },
  beforeDestroy() {
    clearInterval(this.timer);
  },
};
</script>

<style lang="scss"></style>
