<template>
  <div class="highspeed">
    <div class="card mt-4">
      <div class="card-header">
        High speed links polarity
        <a
          v-bind:href="
            'https://lpgbt.web.cern.ch/lpgbt/v' +
            chip_version +
            '/highSpeedLinks.html'
          "
          target="_blank"
          ><icon name="question-circle" class="text-secondary"
        /></a>
      </div>
      <div class="card-body">
        <div class="p-1">
          <b-input-group prepend="Invert high speed data output">
            <b-form-radio-group
              id="btnradios_attenuation"
              buttons
              v-model="hsout_polarity"
              @change="onPutPolarity(0, $event)"
              button-variant="outline-primary"
              :options="hs_polarity_options"
              name="radiosBtnDefault"
            />
          </b-input-group>
        </div>
        <div class="p-1">
          <b-input-group prepend="Invert high speed data input">
            <b-form-radio-group
              id="btnradios_attenuation"
              buttons
              v-model="hsin_polarity"
              @change="onPutPolarity(1, $event)"
              button-variant="outline-primary"
              :options="hs_polarity_options"
              name="radiosBtnDefault"
            />
          </b-input-group>
        </div>
      </div>
    </div>

    <div
      class="card mt-4"
      v-if="connection == 0 || mode == 'trx' || mode == 'tx'"
    >
      <div class="card-header">
        Line Driver
        <a
          v-bind:href="
            'https://lpgbt.web.cern.ch/lpgbt/v' +
            chip_version +
            '/lineDriver.html'
          "
          target="_blank"
          ><icon name="question-circle" class="text-secondary"
        /></a>
      </div>
      <div class="card-body">
        <div class="p-1">
          <b-input-group prepend="Modulation Current">
            <b-form-input
              ref="basic"
              v-model="mod_current"
              @change="onPutLineDriver(0, $event)"
              type="range"
              :min="0"
              :max="127"
              trigger-change-event
            ></b-form-input>
            <b-input-group-append>
              <b-button variant="outline-primary"
                >{{
                  (Math.round(mod_current * 13.7) / 100).toFixed(2).slice(-5)
                }}
                mA</b-button
              >
            </b-input-group-append>
          </b-input-group>
        </div>

        <div class="p-1">
          <b-input-group prepend="Pre-emphasis">
            <b-form-radio-group
              id="btnradios_attenuation"
              buttons
              v-model="preemphasis"
              @change="onPutLineDriver(1, $event)"
              button-variant="outline-primary"
              :options="preemphasis_options"
              name="radiosBtnDefault"
            />
          </b-input-group>
        </div>

        <div class="p-1">
          <b-input-group
            prepend="Pre-emphasis duration"
            v-if="preemphasis == 1"
          >
            <b-form-radio-group
              id="btnradios_attenuation"
              buttons
              v-model="preemphasis_duration"
              @change="onPutLineDriver(2, $event)"
              button-variant="outline-primary"
              :options="preemphasis_duration_options"
              name="radiosBtnDefault"
            />
          </b-input-group>
        </div>

        <div class="p-1">
          <b-input-group prepend="Pre-emphasis Current">
            <b-form-input
              ref="basic"
              v-model="pre_current"
              @change="onPutLineDriver(3, $event)"
              type="range"
              :min="0"
              :max="127"
              trigger-change-event
              :disabled="preemphasis == 0"
            ></b-form-input>
            <b-input-group-append>
              <b-button variant="outline-primary"
                >{{
                  (Math.round(pre_current * 13.7) / 100).toFixed(2).slice(-5)
                }}
                mA</b-button
              >
            </b-input-group-append>
          </b-input-group>
        </div>
      </div>
    </div>

    <div
      class="card mt-4"
      v-if="connection == 0 || mode == 'trx' || mode == 'rx'"
    >
      <div class="card-header">
        Equalizer
        <a
          v-bind:href="
            'https://lpgbt.web.cern.ch/lpgbt/v' +
            chip_version +
            '/equalizer.html'
          "
          target="_blank"
          ><icon name="question-circle" class="text-secondary"
        /></a>
      </div>
      <div class="card-body">
        <div class="p-1">
          <b-input-group prepend="Attenuation" append="dB">
            <b-form-radio-group
              id="btnradios_attenuation"
              buttons
              v-model="attenuation"
              @change="onPutEqualizer(0, $event)"
              :options="attenuation_options"
              button-variant="outline-primary"
              name="radiosBtnDefault"
            />
          </b-input-group>
        </div>
        <div class="p-1">
          <b-input-group prepend="Capacitance" append="fF">
            <b-form-radio-group
              id="btnradios_cap"
              buttons
              v-model="cap"
              @change="onPutEqualizer(1, $event)"
              :options="cap_options"
              button-variant="outline-primary"
              name="radiosBtnDefault"
            />
          </b-input-group>
        </div>
        <div class="p-1">
          <b-input-group prepend="Resistance 0" append="kΩ">
            <b-form-radio-group
              id="btnradio_res0"
              buttons
              v-model="res0"
              @change="onPutEqualizer(2, $event)"
              :options="res_options"
              button-variant="outline-primary"
              name="radiosBtnDefault"
            />
          </b-input-group>
        </div>
        <div class="p-1">
          <b-input-group prepend="Resistance 1" append="kΩ">
            <b-form-radio-group
              id="btnradio_res0"
              buttons
              v-model="res1"
              @change="onPutEqualizer(3, $event)"
              :options="res_options"
              button-variant="outline-primary"
              name="radiosBtnDefault"
            />
          </b-input-group>
        </div>
        <div class="p-1">
          <b-input-group prepend="Resistance 2" append="kΩ">
            <b-form-radio-group
              id="btnradio_res0"
              buttons
              v-model="res2"
              @change="onPutEqualizer(4, $event)"
              :options="res_options"
              button-variant="outline-primary"
              name="radiosBtnDefault"
            />
          </b-input-group>
        </div>
        <div class="p-1">
          <b-input-group prepend="Resistance 3" append="kΩ">
            <b-form-radio-group
              id="btnradio_res0"
              buttons
              v-model="res3"
              @change="onPutEqualizer(5, $event)"
              :options="res_options"
              button-variant="outline-primary"
              name="radiosBtnDefault"
            />
          </b-input-group>
        </div>
      </div>
    </div>

    <div
      class="card mt-4"
      v-if="connection == 0 || mode == 'trx' || mode == 'rx'"
    >
      <div class="card-header">
        Eye Opening Monitor
        <a
          v-bind:href="
            'https://lpgbt.web.cern.ch/lpgbt/v' +
            chip_version +
            '/dft.html#eye-opening-monitor'
          "
          target="_blank"
          ><icon name="question-circle" class="text-secondary"
        /></a>
      </div>
      <div class="card-body">
        <div class="container">
          <b-button variant="primary" v-on:click="getEye()">Measure</b-button>

          <div class="text-center">
            <b-spinner
              v-if="eomProgress"
              variant="primary"
              label="Text Centered"
            ></b-spinner>
          </div>

          <b-img v-bind:src="eqImgSrc" fluid alt="Responsive image" />
          <div
            v-html="downloadLink"
            style="text-align: center; margin-top: 16px"
          ></div>
        </div>
      </div>
    </div>

    <b-modal
      ref="axios-error-modal"
      hide-footer
      hide-header-close
      title="Request error"
    >
      <div class="card-body mt-4" variant="warning">
        {{ errorMessage }}
      </div>
    </b-modal>
  </div>
</template>

<script>
const API_URL = "/api";
import axios from "axios";

export default {
  data: function () {
    return {
      errorMessage: "",
      mode: "",
      mod_current: 0,
      pre_current: 0,
      preemphasis: 0,
      preemphasis_options: [
        { text: "Disable", value: 0 },
        { text: "Enable", value: 1 },
      ],
      preemphasis_duration: 0,
      preemphasis_duration_options: [
        { text: "SHORT", value: 1 },
        { text: "LONG", value: 0 },
      ],
      attenuation: 0,
      attenuation_options: [
        { text: "0", value: 3 },
        { text: "-3.6", value: 2 },
        { text: "-3.6", value: 1 },
        { text: "-9.5", value: 0 },
      ],
      cap: 0,
      cap_options: [
        { text: "0", value: 0 },
        { text: "70", value: 1 },
        { text: "70", value: 2 },
        { text: "140", value: 3 },
      ],
      res0: 0,
      res1: 0,
      res2: 0,
      res3: 0,
      res_options: [
        { text: "0", value: 0 },
        { text: "3", value: 1 },
        { text: "4.7", value: 2 },
        { text: "7.1", value: 3 },
      ],
      eqImgSrc: "data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=",
      eomProgress: false,
      connection: 0,
      hsout_polarity: 0,
      hsin_polarity: 0,
      hs_polarity_options: [
        { text: "Disable", value: 0 },
        { text: "Enable", value: 1 },
      ],
      downloadLink: "",
      chip_version: "",
    };
  },

  created() {
    // fetch the data when the view is created and the data is
    // already being observed
    this.getChipVersion();
    this.getMode();
    this.getLineDriver();
    this.getEqualizer();
    this.getConnection();
    this.getPolarity();
  },

  methods: {
    // get methods
    getMode() {
      axios
        .get(`${API_URL}/mode`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.mode = response.data.result.mode;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    getLineDriver() {
      axios
        .get(`${API_URL}/lineDriver`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.mod_current = response.data.result.mod_current;
            this.pre_current = response.data.result.pre_current;
            this.preemphasis = response.data.result.preemphasis;
            this.preemphasis_duration =
              response.data.result.preemphasis_duration;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    getEqualizer() {
      axios
        .get(`${API_URL}/equalizer`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.attenuation = response.data.result.attenuation;
            this.cap = response.data.result.cap;
            this.res0 = response.data.result.res0;
            this.res1 = response.data.result.res1;
            this.res2 = response.data.result.res2;
            this.res3 = response.data.result.res3;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    getConnection() {
      axios
        .get(`${API_URL}/connection`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.connection = response.data.result.connection;
          }
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    getPolarity() {
      axios
        .get(`${API_URL}/hsPolarity`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.hsout_polarity = response.data.result.hsout_polarity;
            this.hsin_polarity = response.data.result.hsin_polarity;
          }
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    // put methods
    onPutLineDriver(field, value) {
      if (field == 0) {
        var mod_current = value;
        var pre_current = this.pre_current;
        var preemphasis = this.preemphasis;
        var preemphasis_duration = this.preemphasis_duration;
      }
      if (field == 1) {
        var mod_current = this.mod_current;
        var pre_current = this.pre_current;
        var preemphasis = value;
        var preemphasis_duration = this.preemphasis_duration;
      }
      if (field == 2) {
        var mod_current = this.mod_current;
        var pre_current = this.pre_current;
        var preemphasis = this.preemphasis;
        var preemphasis_duration = value;
      }
      if (field == 3) {
        var mod_current = this.mod_current;
        var pre_current = value;
        var preemphasis = this.preemphasis;
        var preemphasis_duration = this.preemphasis_duration;
      }
      axios
        .put(`${API_URL}/lineDriver`, {
          mod_current: mod_current,
          pre_current: pre_current,
          preemphasis: preemphasis,
          preemphasis_duration: preemphasis_duration,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    onPutEqualizer(field, value) {
      if (field == 0) {
        attenuation = value;
        var cap = this.cap;
        var res0 = this.res0;
        var res1 = this.res1;
        var res2 = this.res2;
        var res3 = this.res3;
      }
      if (field == 1) {
        var attenuation = this.attenuation;
        var cap = value;
        var res0 = this.res0;
        var res1 = this.res1;
        var res2 = this.res2;
        var res3 = this.res3;
      }
      if (field == 2) {
        var attenuation = this.attenuation;
        var cap = this.cap;
        var res0 = value;
        var res1 = this.res1;
        var res2 = this.res2;
        var res3 = this.res3;
      }
      if (field == 3) {
        var attenuation = this.attenuation;
        var cap = this.cap;
        var res0 = this.res0;
        var res1 = value;
        var res2 = this.res2;
        var res3 = this.res3;
      }
      if (field == 4) {
        var attenuation = this.attenuation;
        var cap = this.cap;
        var res0 = this.res0;
        var res1 = this.res1;
        var res2 = value;
        var res3 = this.res3;
      }
      if (field == 5) {
        var attenuation = this.attenuation;
        var cap = this.cap;
        var res0 = this.res0;
        var res1 = this.res1;
        var res2 = this.res2;
        var res3 = value;
      }
      axios
        .put(`${API_URL}/equalizer`, {
          attenuation: attenuation,
          cap: cap,
          res0: res0,
          res1: res1,
          res2: res2,
          res3: res3,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    onPutPolarity(field, value) {
      if (field == 0) {
        var hsout_polarity = value;
        var hsin_polarity = this.hsin_polarity;
      }
      if (field == 1) {
        var hsout_polarity = this.hsout_polarity;
        var hsin_polarity = value;
      }
      axios
        .put(`${API_URL}/hsPolarity`, {
          hsout_polarity: hsout_polarity,
          hsin_polarity: hsin_polarity,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },

    getEye() {
      this.eomProgress = true;
      axios
        .get(`${API_URL}/eye`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.eqImgSrc =
              "/api/eye/download/" + response.data.result.filename;
            this.downloadLink =
              'Download : <a href="' +
              "/api/eye/download/" +
              response.data.result.filename +
              '">' +
              response.data.result.filename +
              "</a>";
            this.eomProgress = false;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    getChipVersion() {
      axios
        .get(`${API_URL}/chip_version`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.chip_version = response.data.result.chip_version;
          }
        })
        .catch((error) => {
          console.error(error);
          id;
        });
    },
  },
};
</script>

<style lang="scss"></style>
