<template>
  <div class="regmap">
    <div class="card mt-4">
      <div class="card-header">LpGBT Register</div>
      <div class="card-body">
        <b-button-group>
          <b-button
            variant="outline-primary"
            @click="loadConfig()"
            v-b-popover.hover.top="'Save data to a file'"
            ><icon name="file-import" />Save</b-button
          >
          <b-button
            variant="outline-primary"
            @click="$refs.fileInput.click()"
            v-b-popover.hover.top="'Fetch data from a file'"
            ><icon name="file-export" />Load</b-button
          >
          <b-button variant="outline-primary" @click="getReadyState()"
            ><icon name="file-archive" />Fusing</b-button
          >
          <input
            type="file"
            name="config"
            :disabled="isSaving"
            style="display: none"
            @input="
              filesChange($event.target.name, $event.target.files);
              fileCount = $event.target.files.length;
            "
            accept="*.cnf"
            ref="fileInput"
            class="input-file"
          />
        </b-button-group>
        <div
          v-html="downloadLink"
          style="text-align: center; margin-top: 16px"
        ></div>
        <div v-if="writing_file"><b-spinner variant="primary"></b-spinner></div>
        <div v-if="loading_file"><b-spinner variant="primary"></b-spinner></div>

        <b-alert
          :show="dismissCountDown"
          dismissible
          variant="success"
          @dismissed="dismissCountDown = 0"
          @dismiss-count-down="countDownChanged"
        >
          Burning finished
        </b-alert>
      </div>
    </div>

    <b-modal
      id="force-ready-modal"
      ref="force-ready-modal"
      title="E-Fuses programming"
      @ok="forceReadyState()"
      ok-variant="warning"
    >
      <b-alert show variant="warning">
        <div class="p-1 text-center">
          The lpGBT has to be on Ready state to be fused. Your lpGBT is not
          currently on Ready state. Are you sure you want to fuse this
          configuration? If yes, we will force the Ready state.
        </div>
      </b-alert>
    </b-modal>

    <b-modal
      id="fusing-status-modal"
      ref="fusing-status-modal"
      hide-footer
      title="E-Fuses programming status"
    >
      <div style="text-align: center">
        Start burning fuses. Checking fused bank ...
      </div>
      <li v-for="item in fused_bank_status" style="display: flex">
        {{ item }}
      </li>
      <div class="d-block text-center" @click="onFusesBank()">
        <b-button variant="warning">Continue</b-button>
      </div>
    </b-modal>

    <div class="card mt-4">
      <div class="card-header">
        Register Map
        <a href="/doc/model.html" target="_blank"
          ><icon name="question-circle" class="text-secondary"
        /></a>
      </div>
      <div class="card-body">
        <small>
          <div class="p-1">
            <b-input-group prepend="Filter">
              <b-form-input v-model="filter" placeholder="Type to Search" />
              <b-input-group-append>
                <b-btn
                  :disabled="!filter"
                  variant="outline-primary"
                  @click="filter = ''"
                  >Clear</b-btn
                >
              </b-input-group-append>
            </b-input-group>
          </div>

          <div v-if="loading_config">
            Loading... <b-spinner variant="primary"></b-spinner>
          </div>

          <div class="p-1">
            <b-table
              striped
              hover
              variant="primary"
              :filter="filter"
              :items="regs"
              @row-clicked="regClickHandler"
            >
              <template slot="adr" slot-scope="data">
                {{ data.value }}
              </template>
              <template slot="name" slot-scope="data">
                {{ data.value }}
              </template>

              <template slot="val" slot-scope="data">
                {{ data.value }}
              </template>
            </b-table>
          </div>
        </small>
      </div>
    </div>

    <!-- Modal Component -->
    <b-modal
      ref="modal"
      id="modal"
      hide-header-close
      title="Update Register Value"
      @ok="handleOk"
    >
      <div class="mx-auto p-1" style="text-align: center">
        <b-button class="bg-primary" style="width: 300px" disabled
          >Register name : {{ selected_row.Name }}</b-button
        >
      </div>
      <div class="mx-auto p-1" style="text-align: center">
        <b-button class="bg-primary" style="width: 300px" disabled
          >Address : {{ selected_row.Address }}</b-button
        >
      </div>
      <div class="mx-auto p-1" style="text-align: center">
        <b-button class="bg-primary" style="width: 300px" disabled
          >Value : {{ selected_row.Value }}</b-button
        >
      </div>
      <form @submit.stop.prevent="handleOk">
        <div class="mx-auto p-1">
          <b-form-input
            type="text"
            placeholder="Enter new register value : 0x00"
            v-model="newval"
          ></b-form-input>
        </div>
      </form>
    </b-modal>

    <b-modal
      ref="axios-error-modal"
      hide-footer
      hide-header-close
      title="Request error"
    >
      <div class="card-body mt-4" variant="warning">
        {{ errorMessage }}
      </div>
    </b-modal>
  </div>
</template>

<script>
const API_URL = "/api";
import axios from "axios";

const API_URL_LOAD = "/api/regs/load";

const STATUS_INITIAL = 0,
  STATUS_SAVING = 1,
  STATUS_SUCCESS = 2,
  STATUS_FAILED = 3;

export default {
  data: function () {
    return {
      errorMessage: "",
      regs: [],
      newval: "",
      downloadLink: "",
      file_load: null,
      link_save: `${API_URL}/regs/save`,
      link_load: `${API_URL}/regs/load`,
      selected_row: {},
      upload_status: null,
      uploadedFiles: [],
      uploadError: null,
      filter: null,
      writing_file: false,
      loading_file: false,
      loading_config: false,
      fused_bank_status: [],
      ready_state: "",
      dismissSecs: 5,
      dismissCountDown: 0,
    };
  },

  created: function () {
    this.getRegisters();
  },

  watch: {},

  computed: {
    isInitial() {
      return this.upload_status === STATUS_INITIAL;
    },
    isSaving() {
      return this.upload_status === STATUS_SAVING;
    },
    isSuccess() {
      return this.upload_status === STATUS_SUCCESS;
    },
    isFailed() {
      return this.upload_status === STATUS_FAILED;
    },
  },

  methods: {
    loadConfig() {
      this.writing_file = true;
      axios
        .get(`${API_URL}/regs/save`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.downloadLink =
              'Download : <a href="' +
              "/api/regs/download/" +
              response.data.result.filename +
              '">' +
              response.data.result.filename +
              "</a>";
            this.writing_file = false;
          }
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    saveConfig(formData) {
      //  this.testVal = this.selected_row.adr
      this.loading_file = true;
      this.upload_status = STATUS_SAVING;
      axios
        .post(`${API_URL_LOAD}`, formData)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.upload_status = STATUS_SUCCESS;
            this.getRegisters();
            this.loading_file = false;
          }
        })
        .catch((error) => {
          this.uploadError = error.response;
          this.upload_status = STATUS_FAILED;
          console.error(error);
        });
    },

    getRegisters() {
      this.loading_config = true;
      axios
        .get(`${API_URL}/regs`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.regs = response.data.result;
            this.upload_reset();
            this.loading_config = false;
          }
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },

    regClickHandler(record, index) {
      this.selected_row = record;
      this.$refs.modal.show();
    },

    handleOk(evt) {
      // Prevent modal from closing
      evt.preventDefault();
      this.handleSubmit();
    },
    handleSubmit() {
      axios
        .put(`${API_URL}/write`, {
          newval: this.newval,
          address: this.selected_row.Address,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.$refs["modal"].hide();
            this.getRegisters();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },

    filesChange(fieldName, fileList) {
      // handle file changes
      const formData = new FormData();

      if (!fileList.length) return;

      // append the files to FormData
      Array.from(Array(fileList.length).keys()).map((x) => {
        formData.append(fieldName, fileList[x], fileList[x].name);
      });

      // save it
      this.saveConfig(formData);
    },

    getReadyState() {
      axios
        .get(`${API_URL}/getReadyState`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.ready_state = response.data.result.ready_state;

            if (this.ready_state == 0) {
              this.$refs["force-ready-modal"].show();
            } else {
              this.fusesStatus();
            }
          }
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    fusesStatus() {
      axios
        .get(`${API_URL}/burnBankStatus`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.fused_bank_status = response.data.result.fused_bank_status;

            this.$refs["fusing-status-modal"].show();
          }
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    onFusesBank() {
      axios
        .get(`${API_URL}/fusesBurnBank`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.showFusingAlert();
            this.$refs["fusing-status-modal"].hide();
          }
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    forceReadyState() {
      axios
        .get(`${API_URL}/jumptostate`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.fusesStatus();
          }
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    upload_reset() {
      // reset form to initial state
      this.upload_status = STATUS_INITIAL;
      this.uploadedFiles = [];
      this.uploadError = null;
    },

    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showFusingAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
  },
  mounted() {
    this.upload_reset();
  },
};
</script>

<style lang="scss"></style>
