<template>
  <div class="status">
    <div class="card mt-4">
      <div class="card-header">lpGBT status</div>
      <div class="card-body">
        <div class="p-1">
          <b-input-group prepend="lpGBT version">
            <b-form-input v-model="chip_version"></b-form-input>
          </b-input-group>
        </div>
        <div class="p-1">
          <b-input-group prepend="I2C address">
            <b-form-input v-model="address"> </b-form-input>
          </b-input-group>
        </div>
        <div class="p-1">
          <b-input-group prepend="Chip ID">
            <b-form-input v-model="chipid"></b-form-input>
          </b-input-group>
        </div>
        <div class="p-1">
          <b-input-group prepend="Mode">
            <b-form-input v-model="mode"></b-form-input>
          </b-input-group>
        </div>
        <div class="p-1">
          <b-input-group prepend="Lock Mode">
            <b-form-input v-model="lockmode"></b-form-input>
          </b-input-group>
        </div>
        <div class="p-1">
          <b-input-group prepend="State">
            <b-form-input v-model="pusmstate"></b-form-input>
          </b-input-group>
        </div>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-header">
        Watchdog and Timeout
        <a
          v-bind:href="
            'https://lpgbt.web.cern.ch/lpgbt/v' + chip_version + '/powerup.html'
          "
          target="_blank"
          ><icon name="question-circle" class="text-secondary"
        /></a>
      </div>
      <div class="card-body">
        <div class="container">
          <div class="p-1">
            <b-input-group prepend="Watchdog PLL">
              <b-form-radio-group
                id="btn_pull"
                buttons
                v-model="wd_pll_enable"
                @change="onPutWatchdog(0, $event)"
                name="pullbtns"
                button-variant="outline-primary"
              >
                <b-form-radio
                  v-for="opt in wd_options"
                  :key="opt.value"
                  :value="opt.value"
                >
                  <icon :name="opt.icon" />
                  {{ opt.text }}
                </b-form-radio>
              </b-form-radio-group>
            </b-input-group>
          </div>

          <div class="p-1" v-if="chip_version == 0">
            <b-input-group prepend="Timeout PLL" append="ms">
              <b-form-select
                v-model="wd_pll_timeout"
                :options="wd_pll_timeout_options"
                @change="onPutWatchdog(1, $event)"
              />
            </b-input-group>
          </div>

          <div class="p-1" v-if="chip_version == 1">
            <b-input-group prepend="Watchdog DLL">
              <b-form-radio-group
                id="btn_pull"
                buttons
                v-model="wd_dll_enable"
                @change="onPutWatchdog(2, $event)"
                name="pullbtns"
                button-variant="outline-primary"
              >
                <b-form-radio
                  v-for="opt in wd_options"
                  :key="opt.value"
                  :value="opt.value"
                >
                  <icon :name="opt.icon" />
                  {{ opt.text }}
                </b-form-radio>
              </b-form-radio-group>
            </b-input-group>
          </div>
          <div class="p-1" v-if="chip_version == 1">
            <b-button
              variant="primary"
              @click="
                onPutResetWatchdog();
                showAlert();
              "
              >Reset Watchdog</b-button
            >
            <b-button
              variant="primary"
              @click="
                onPutResetTimeout();
                showAlert();
              "
              >Reset Timeout</b-button
            >
          </div>
          <div class="p-1" v-if="chip_version == 1">
            <b-alert
              :show="dismiss_count_down"
              dismissible
              fade
              variant="info"
              @dismiss-count-down="countDownChanged"
            >
              Reset completed!
            </b-alert>
          </div>
        </div>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-header">Process monitors</div>
      <div class="card-body">
        <div class="p-1" v-for="id in 4" :key="id.id" :value="id">
          <b-input-group>
            <b-input-group-prepend>
              <div class="input-group-text">Channel {{ id }}</div>
            </b-input-group-prepend>
            <b-form-input v-model="pm_frequency[id - 1]"></b-form-input>
          </b-input-group>
        </div>
      </div>
    </div>

    <b-modal
      ref="axios-error-modal"
      hide-footer
      hide-header-close
      title="Request error"
    >
      <div class="card-body mt-4" variant="warning">
        {{ errorMessage }}
      </div>
    </b-modal>
  </div>
</template>

<script>
const API_URL = "/api";

import axios from "axios";

export default {
  name: "status",
  data() {
    return {
      errorMessage: "",
      tr_mode: "",
      address: "",
      chipid: "",
      mode: "",
      lockmode: "",
      pusmstate: "",
      timer: "",
      pm_frequency: [],
      chip_version: "",
      wd_pll_enable: "",
      wd_dll_enable: "",
      wd_options: [
        { text: "disabled", value: false, icon: "toggle-off" },
        { text: "enabled", value: true, icon: "toggle-on" },
      ],
      wd_pll_timeout: 0,
      wd_pll_timeout_options: [
        { text: "1000", value: 0 },
        { text: "500", value: 1 },
        { text: "100", value: 2 },
        { text: "50", value: 3 },
        { text: "20", value: 4 },
        { text: "10", value: 5 },
        { text: "5", value: 6 },
        { text: "2", value: 7 },
        { text: "1", value: 8 },
        { text: "0.5", value: 9 },
        { text: "0.2", value: 10 },
        { text: "0.1", value: 11 },

        { text: "0.05", value: 12 },
        { text: "0.02", value: 13 },
        { text: "0.01", value: 14 },
        { text: "disabled", value: 15 },
      ],
      dismiss_alert: 2,
      dismiss_count_down: 0,
    };
  },

  created: function () {
    this.getStatus();
    this.timer = setInterval(this.getStatus, 2000);
    this.getPmStatus();
    this.getChipVersion();
    this.onGetWatchdog();
  },

  methods: {
    getChipVersion() {
      axios
        .get(`${API_URL}/chip_version`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.chip_version = response.data.result.chip_version;
          }
        })
        .catch((error) => {
          console.error(error);
          id;
        });
    },
    getStatus() {
      axios
        .get(`${API_URL}/status`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.address = response.data.result.address;
            this.chipid = response.data.result.chipid;
            this.pusmstate = response.data.result.pusmstate;
            this.mode = response.data.result.mode;
            this.lockmode = response.data.result.lockmode;
            this.getMode();
          }
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    getMode() {
      axios
        .get(`${API_URL}/mode`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.tr_mode = response.data.result.mode;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    getPmStatus() {
      axios
        .get(`${API_URL}/procMonStatus`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.pm_frequency = response.data.result.pm_frequency;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    onGetWatchdog() {
      axios
        .get(`${API_URL}/watchdog`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.wd_pll_enable = response.data.result.wd_pll_enable;
            this.wd_dll_enable = response.data.result.wd_dll_enable;
            this.wd_pll_timeout = response.data.result.wd_pll_timeout;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    onPutWatchdog(field, value) {
      if (field == 0) {
        var wd_pll_enable = value;
        var wd_pll_timeout = this.wd_pll_timeout;
        var wd_dll_enable = this.wd_dll_enable;
      }
      if (field == 1) {
        var wd_pll_enable = this.wd_pll_enable;
        var wd_pll_timeout = value;
        var wd_dll_enable = this.wd_dll_enable;
      }
      if (field == 2) {
        var wd_pll_enable = this.wd_pll_enable;
        var wd_pll_timeout = this.wd_pll_timeout;
        var wd_dll_enable = value;
      }
      axios
        .put(`${API_URL}/watchdog`, {
          wd_pll_enable: wd_pll_enable,
          wd_dll_enable: wd_dll_enable,
          wd_pll_timeout: wd_pll_timeout,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    onPutResetWatchdog() {
      axios
        .put(`${API_URL}/resetWatchdog`, {
          eprx_chns_phase_training: this.eprx_chns_phase_training,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    onPutResetTimeout() {
      axios
        .put(`${API_URL}/resetTimeout`, {
          eprx_chns_phase_training: this.eprx_chns_phase_training,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    countDownChanged(dismiss_count_down) {
      this.dismiss_count_down = dismiss_count_down;
    },
    showAlert() {
      this.dismiss_count_down = this.dismiss_alert;
    },
  },

  beforeDestroy() {
    clearInterval(this.timer);
  },
};
</script>

<style>
.input-group-prepend {
  width: 50%;
}
.form-control {
  border: 1px solid #007bff;
  height: auto;
}
.btn-primary {
  margin-left: 10px;
}
</style>
