<template>
  <div class="testoutputs">
    <div class="card mt-4" v-for="id in [0, 1, 2, 3]" :key="id.id" :value="id">
      <div class="card-header">
        Test ouptut {{ id }}
        <a
          v-bind:href="
            'https://lpgbt.web.cern.ch/lpgbt/v' +
            chip_version +
            '/dft.html#test-outputs'
          "
          target="_blank"
          ><icon name="question-circle" class="text-secondary"
        /></a>
      </div>
      <div class="card-body">
        <div class="p-1">
          <b-input-group prepend="Signal">
            <b-form-select
              v-model="testsel[id]"
              :options="testouptuts_options"
              @change="onPutTestOutputs"
              button-variant="outline-primary"
            />
          </b-input-group>
        </div>
        <div class="p-1">
          <b-input-group prepend="Drive strength">
            <b-form-radio-group
              id="btn_pull"
              buttons
              v-model="testoutputs_ds[id]"
              name="pullbtns"
              @change="onPutTestOutputs"
              button-variant="outline-primary"
            >
              <b-form-radio
                v-for="opt in ds_options"
                :key="opt.value"
                :value="opt.value"
              >
                <icon :name="opt.icon" />
                {{ opt.text }}
              </b-form-radio>
            </b-form-radio-group>
          </b-input-group>
        </div>
      </div>
    </div>

    <div class="card mt-4" v-for="id in [0, 1]" :key="id" :value="id">
      <div class="card-header">
        Test ouptut {{ id + 4 }}
        <a
          v-bind:href="
            'https://lpgbt.web.cern.ch/lpgbt/v' +
            chip_version +
            '/dft.html#test-outputs'
          "
          target="_blank"
          ><icon name="question-circle" class="text-secondary"
        /></a>
      </div>
      <div class="card-body">
        <div class="p-1">
          <b-input-group prepend="Signal">
            <b-form-select
              v-model="testsel[id + 4]"
              :options="testouptuts_options"
              @change="onPutTestOutputs"
              button-variant="outline-primary"
            />
          </b-input-group>
        </div>
        <div class="p-1">
          <b-input-group
            prepend="Drive strength"
            append="mA"
            style="color: green; text-align: center"
          >
            <b-form-select
              v-model="diff_ds[id]"
              :options="outputs_ds_options"
              @change="onPutTestOutputs"
            />
          </b-input-group>
        </div>
        <div class="p-1">
          <b-input-group prepend="Pre-emp  mode">
            <b-form-select
              v-model="diff_pem[id]"
              :options="diff_pem_options"
              @change="onPutTestOutputs"
            />
          </b-input-group>
        </div>
        <div class="p-1">
          <b-input-group prepend="Pre-emp strength" append="mA">
            <b-form-select
              v-model="diff_pes[id]"
              :options="outputs_ds_options"
              :disabled="diff_pem[id] == 0"
              @change="onPutTestOutputs"
            />
          </b-input-group>
        </div>
        <div class="p-1">
          <b-input-group prepend="Pre-emp  width" append="ps">
            <b-form-select
              v-model="diff_pew[id]"
              :options="diff_pew_options"
              :disabled="diff_pem[id] != 2"
              @change="onPutTestOutputs"
            />
          </b-input-group>
        </div>
      </div>
    </div>

    <b-modal
      ref="axios-error-modal"
      hide-footer
      hide-header-close
      title="Request error"
    >
      <div class="card-body mt-4" variant="warning">
        {{ errorMessage }}
      </div>
    </b-modal>
  </div>
</template>

<script>
import axios from "axios";
const API_URL = "/api";

export default {
  data: function () {
    return {
      errorMessage: "",
      testsel: [],
      testouptuts_options: [
        { value: 0, text: "0" },
        { value: 1, text: "1" },
        { value: 2, text: "clk40MA" },
        { value: 3, text: "clk40MB" },
        { value: 4, text: "clk40MA" },
        { value: 5, text: "clk40MB" },
        { value: 6, text: "clk40MC" },
        { value: 7, text: "clk80MA" },
        { value: 8, text: "clk80MB" },
        { value: 9, text: "clk80MC" },
        { value: 10, text: "clk160MA" },
        { value: 11, text: "clk160MB" },
        { value: 12, text: "clk160MC" },
        { value: 13, text: "clk320MA" },
        { value: 14, text: "clk320MB" },
        { value: 15, text: "clk320MC" },
        { value: 16, text: "clk640MA" },
        { value: 17, text: "clk640MB" },
        { value: 18, text: "clk640MC" },
        { value: 19, text: "clk1G28A" },
        { value: 20, text: "clk1G28B" },
        { value: 21, text: "clk1G28C" },
        { value: 22, text: "seuEvent" },
        { value: 23, text: "PMClkOut" },
        { value: 24, text: "endCounterRefClkV " },
        { value: 25, text: "fromcdr_clkRef" },
        { value: 26, text: "fromcdr_instlockPLL" },
        { value: 27, text: "endCounterVCOV" },
        { value: 28, text: "fusesRampEnable" },
        { value: 29, text: "fusesPowerShort" },
        { value: 30, text: "fusesPowerEnable" },
        { value: 31, text: "fusesSclk" },
        { value: 32, text: "fusesPgm" },
        { value: 33, text: "fusesDin" },
        { value: 34, text: "fusesCsb" },
        { value: 35, text: "PS0DllLockedV" },
        { value: 36, text: "PS1DllLockedV" },
        { value: 37, text: "PS2DllLockedV" },
        { value: 38, text: "PS3DllLockedV" },
        { value: 39, text: "PS0dllLateV" },
        { value: 40, text: "PS1dllLateV" },
        { value: 41, text: "PS2dllLateV" },
        { value: 42, text: "PS3dllLateV" },
        { value: 43, text: "PS0dllOutRef" },
        { value: 44, text: "PS1dllOutRef" },
        { value: 45, text: "PS2dllOutRef" },
        { value: 46, text: "PS3dllOutRef" },
        { value: 47, text: "ePortRxDllInstantLock[0]" },
        { value: 48, text: "ePortRxDllInstantLock[1]" },
        { value: 49, text: "ePortRxDllInstantLock[2]" },
        { value: 50, text: "ePortRxDllInstantLock[3]" },
        { value: 51, text: "ePortRxDllInstantLock[4]" },
        { value: 52, text: "ePortRxDllInstantLock[5]" },
        { value: 53, text: "ePortRxDllInstantLock[6]" },
        { value: 54, text: "ePortRxDllOutRef[0]" },
        { value: 55, text: "ePortRxDllOutRef[1]" },
        { value: 56, text: "ePortRxDllOutRef[2]" },
        { value: 57, text: "ePortRxDllOutRef[3]" },
        { value: 58, text: "ePortRxDllOutRef[4]" },
        { value: 59, text: "ePortRxDllOutRef[5]" },
        { value: 60, text: "ePortRxDllOutRef[6]" },
        { value: 61, text: "downLinkFrame[60]" },
        { value: 62, text: "downLinkFrame[61]" },
        { value: 63, text: "downLinkFrame[62]" },
        { value: 64, text: "downLinkFrame[63]" },
        { value: 65, text: "ePortRxDataIn[0]" },
        { value: 66, text: "ePortRxDataIn[1]" },
        { value: 67, text: "ePortRxDataIn[2]" },
        { value: 68, text: "ePortRxDataIn[3]" },
        { value: 69, text: "ePortRxDataIn[4]" },
        { value: 70, text: "ePortRxDataIn[5]" },
        { value: 71, text: "ePortRxDataIn[6]" },
        { value: 72, text: "ePortRxDataIn[7]" },
        { value: 73, text: "ePortRxDataIn[8]" },
        { value: 74, text: "ePortRxDataIn[9]" },
        { value: 75, text: "ePortRxDataIn[10]" },
        { value: 76, text: "ePortRxDataIn[11]" },
        { value: 77, text: "ePortRxDataIn[12]" },
        { value: 78, text: "ePortRxDataIn[13]" },
        { value: 79, text: "ePortRxDataIn[14]" },
        { value: 80, text: "ePortRxDataIn[15]" },
        { value: 81, text: "ePortRxDataIn[16]" },
        { value: 82, text: "ePortRxDataIn[17]" },
        { value: 83, text: "ePortRxDataIn[18]" },
        { value: 84, text: "ePortRxDataIn[19]" },
        { value: 85, text: "ePortRxDataIn[20]" },
        { value: 86, text: "ePortRxDataIn[21]" },
        { value: 87, text: "ePortRxDataIn[22]" },
        { value: 88, text: "ePortRxDataIn[23]" },
        { value: 89, text: "ePortRxDataIn[24]" },
        { value: 90, text: "ePortRxDataIn[25]" },
        { value: 91, text: "ePortRxDataIn[26]" },
        { value: 92, text: "ePortRxDataIn[27]" },
        { value: 93, text: "PORA" },
        { value: 94, text: "PORB" },
        { value: 95, text: "PORC" },
        { value: 96, text: "ePortRxDataInEc" },
        { value: 97, text: "BODA" },
        { value: 98, text: "BODB" },
        { value: 99, text: "BODC" },
        { value: 100, text: "i2cTransactionStartV" },
        { value: 101, text: "i2cTransactionDoneV" },
        { value: 102, text: "i2cmaster_go0_V" },
        { value: 103, text: "i2cmaster_go1_V" },
        { value: 104, text: "i2cmaster_go2_V" },
        { value: 105, text: "skipCycleRaw" },
        { value: 106, text: "skipCycleV" },
        { value: 107, text: "rxReady" },
        { value: 108, text: "txReadyV" },
        { value: 109, text: "pllStateMachineLockedV" },
        { value: 110, text: "EPortRxDllLockedV[0]" },
        { value: 111, text: "EPortRxDllLockedV[1]" },
        { value: 112, text: "EPortRxDllLockedV[2]" },
        { value: 113, text: "EPortRxDllLockedV[3]" },
        { value: 114, text: "EPortRxDllLockedV[4]" },
        { value: 115, text: "EPortRxDllLockedV[5]" },
        { value: 116, text: "EPortRxDllLockedV[6]" },
        { value: 117, text: "ePortRxDllLateV[0]" },
        { value: 118, text: "ePortRxDllLateV[1]" },
        { value: 119, text: "ePortRxDllLateV[2]" },
        { value: 120, text: "ePortRxDllLateV[3]" },
        { value: 121, text: "ePortRxDllLateV[4]" },
        { value: 122, text: "ePortRxDllLateV[5]" },
        { value: 123, text: "ePortRxDllLateV[6]" },
        { value: 124, text: "frameAlignerReadyV" },
      ],

      testoutputs_ds: [4, 4, 4, 4],
      diff_ds: [4, 4],
      diff_pem: [0, 0],
      diff_pew: [0, 0],
      diff_pes: [0, 0],

      ds_options: [
        { text: "low", value: 0, icon: "volume-down" },
        { text: "high", value: 1, icon: "volume-up" },
      ],

      outputs_ds_options: [
        { text: "0", value: 0 },
        { text: "1.0", value: 1 },
        { text: "1.5", value: 2 },
        { text: "2.0", value: 3 },
        { text: "2.5", value: 4 },
        { text: "3.0", value: 5 },
        { text: "3.5", value: 6 },
        { text: "4.0", value: 7 },
      ],

      diff_pem_options: [
        { text: "Disabled", value: 0 },
        { text: "Self-timed", value: 2 },
        { text: "Clock timed", value: 3 },
      ],
      diff_pew_options: [
        { text: "120", value: 0 },
        { text: "240", value: 1 },
        { text: "360", value: 2 },
        { text: "480", value: 3 },
        { text: "600", value: 4 },
        { text: "720", value: 5 },
        { text: "840", value: 6 },
        { text: "960", value: 7 },
      ],
      chip_version: "",
    };
  },

  created() {
    // fetch the data when the view is created and the data is
    // already being observed
    this.getChipVersion();
    this.getTestOutputs();
  },

  methods: {
    // get methods
    getTestOutputs() {
      axios
        .get(`${API_URL}/testOuptuts`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.testsel = response.data.result.testsel;
            this.testoutputs_ds = response.data.result.testoutputs_ds;
            this.diff_ds = response.data.result.diff_ds;
            this.diff_pem = response.data.result.diff_pem;
            this.diff_pew = response.data.result.diff_pew;
            this.diff_pes = response.data.result.diff_pes;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },

    // put methods
    onPutTestOutputs() {
      axios
        .put(`${API_URL}/testOuptuts`, {
          testsel: this.testsel,
          testoutputs_ds: this.testoutputs_ds,
          diff_ds: this.diff_ds,
          diff_pem: this.diff_pem,
          diff_pew: this.diff_pew,
          diff_pes: this.diff_pes,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getChipVersion() {
      axios
        .get(`${API_URL}/chip_version`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.chip_version = response.data.result.chip_version;
          }
        })
        .catch((error) => {
          console.error(error);
          id;
        });
    },
  },
};
</script>

<style lang="scss"></style>
